<!-- 评论 -->
<!--<div class="comment-wrap" id="commentWrap" name="commentWrap">-->
    <!--<div class="comment_con clearfix">-->
        <!--<div class="comment_input_box">-->
            <!--<div type="text" class="comment_input" contenteditable="true"></div>-->
            <!--<span class="emoji-wrap emoji-wrap-btn gray-emoji"></span>-->
        <!--</div>-->
        <!--<span class="comment_btn">评论</span>-->
        <!--<div class="dynamic-emoji">-->
            <!--<div class="box-ext">-->
                <!--<div id="emoji-box" class="emoji-box open">-->
                    <!--<div id="item-box" class="item-box"></div>-->
                    <!--<p id="emoji-tip" class="emoji-tip"></p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; 评论列表 &ndash;&gt;-->
    <!--<div class="comment_list">-->
    <!--</div>-->
    <!--<div class="reveive-dynamic-emoji" >-->
        <!--<div class="box-ext">-->
            <!--<div id="emoji-box" class="emoji-box open">-->
                <!--<div id="item-box" class="item-box"></div>-->
                <!--<p id="emoji-tip" class="emoji-tip"></p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- 评论弹框 -->
<div class="comment_popup" id="commentPopup"></div>
<!-- 评论删除状态 -->
<div class="comment_del_popup"></div>
<!-- 保存图片提示 -->
<div class="save-img"></div>
<!-- 评论内容不为空提示 -->
<div class="common-text-no"></div>
<!-- 评论文字超出提示 -->
<div class="comment-text-limit"></div>
<!-- 删除评论提示 -->
<div class="delete-comment-tip" id="delCommentPopup"></div>
<!-- 评论失败！请检查网络连接 -->
<div class="comment-text-fail"></div>
<!-- 手机验证 -->
<div class="phone_detail">
    <div class="phone_box">
        <div class="triangle-up1"></div>
        <div class="triangle-up2"></div>
        <div class="phone_title">温馨提示</div>
        <div class="phone_text">需要验证手机号才可以进行操作哦~，仅需验证一次！验证成功即送5万经验值！</div>
        <div class="phone_btn" onclick="handle.phoneVer()">立即验证> </div>
    </div>
</div>