<!-- 活动页悬浮二维码跳转下载页 -->
<div class="vvbase_download" id="vvbase_download">
    <a href="https://www.51vv.cc/wx/pc/down/index.html" target="_blank">下载VV音乐PC端</a>
    <div class="qr_code_box">
    	<div class="qr_code"></div>
    	<p class="text">扫一扫下载VV音乐</p>
    </div>
</div>
<script type="text/javascript">
// 端外打开
if (typeof QCefClient == 'undefined') {
    // 手机跳转
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    var isM = sUserAgent.match(/iphone/gi) == "iphone";
    var isvvlive = /vvlive/gi.test(sUserAgent);
    if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM || isM || isvvlive) {
        if((/pc\/subject/).test(window.location.href)) window.location.href = window.location.href.replace('pc/subject', 'wx/m/active');
    }
}
</script>