<link rel="shortcut icon" type="images/x-icon" href="/favicon.ico" />
<!-- 解决低版本IE不支持JSON方法的bug -->
<!--[if lt IE 9]>
<script type="text/javascript" src="//music.51vv.com/pc/vv-base/js/json.js"></script>
<![endif]-->
<script type="text/javascript">
	var vv = window.vv || {};
</script>