/*评论加载*/
.comment .comment-more {
    display: none;
    position: absolute;
    top: 40px;
    left: -100%;
    border-top: 1px solid #ebeded;
    border-bottom: 1px solid #ebeded;
    background-color: #f2f6f6;
    width: 300%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
    text-align: center;
}

.comment .comment-more .comment-more-span {
    display: inline-block;
    background: url(../images/comment/loading.gif) no-repeat 0 center;
    background-size: 14px 14px;
    padding-left: 18px;
}

.comment .comment-more .triangle-more1 {
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ebeded;
}

.comment .comment-more .triangle-more2 {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -3.5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f2f6f6;
}

.comment .comment-more .comment-fail {
    display: none;
}

.comment .comment-fail .reload_btn {
    cursor: pointer;
}

/*评论*/
.comment-wrap {
    display: none;
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #f2f6f6;
}

.comment-wrap .triangle-comment-more1 {
    position: absolute;
    top: -8px;
    left: 50%;
    margin-left: -4px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ebeded;
}

.comment-wrap .triangle-comment-more2 {
    position: absolute;
    top: -7px;
    left: 50%;
    margin-left: -3.5px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #f2f6f6;
}

.comment-wrap .comment_con {
    position: relative;
    height: 30px;
    padding: 10px 0 10px 20px;
    box-sizing: content-box;
}

.comment-wrap .comment_list {
    position: relative;
}

.comment-wrap .comment_input_box {
    position: relative;
    float: left;
    width: 86%;
    height: 28px;
    border: 1px solid #e2e2e2;
    background-color: #fff;
}

.comment-wrap .comment_input_box_border {
    border: 1px solid #f97546;
}

.comment-wrap .comment_input_box .emoji-wrap {
    border: none;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}

.comment-wrap .comment_input_box .emoji-wrap:hover {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment_input_box .lighter-emoji {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment_input_box .gray-emoji {
    background-image: url(../images/comment/gray_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment_input {
    white-space: nowrap;
    overflow: hidden;
    width: 91%;
    text-indent: 8px;
    height: 28px;
    padding: 0 -2px 0 5px;
    border: none;
    background: #fff;
    line-height: 28px;
    font-size: 14px;
}

.comment-wrap .comment_input img {
    vertical-align: top;
}

.comment-wrap .comment_btn {
    float: left;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #f8f8f8;
    background-color: #ff8c64;
    cursor: pointer;
}

.comment-wrap .comment_btn:hover {
    background-color: #f97546;
}

.comment-wrap .comment_btn_hover {
    background-color: #ff8c64;
}

.comment-wrap .comment_btn_click {
    background-color: #f97546;
}

.comment-wrap .comment_input_box .default-txt {
    display: block;
    position: absolute;
    top: 5px;
    left: 13px;
    font-size: 12px;
    color: #333;
}

.comment-wrap .comment-details {
    width: 94%;
    padding: 5px 20px 0;
    margin-bottom: 5px;
}

.comment-wrap .comment-avatar-wrap {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
    cursor: pointer;
    border: 2px solid #f9fefe;
    box-sizing: border-box;
}

.comment-wrap .comment-avatar-wrap:hover {
    border: 2px solid #edbdbd;
}

.comment-wrap .comment-avatar-wrap .comment-avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*.comment-wrap .comment-avatar-wrap .comment-auth{display: block;position: absolute;right: 0;bottom:0;width: 12px;height: 12px;background-image: url('../images/friends/auth_icon.png');}*/
.comment-wrap .comment-user-details {
    position: relative;
    margin-left: 50px;
    box-sizing: border-box;
}

.comment-wrap .comment-user-details .toggle-wrap {
    position: relative;
    max-height: 70px;
    overflow: hidden;
}

.comment-wrap .toggle-wrap .comment-toggle-txt {
    display: none;
    position: absolute;
    bottom: 2px;
    right: 0;
    font-size: 12px;
    /*background: url(../images/comment/spread_icon.png) no-repeat right center;*/
    /*background-size: 8px 5px;*/
    padding: 0 24px 0 7px;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    text-align: right;
    background-color: #f2f6f6;
}

.comment-wrap .toggle-wrap .comment-toggle-txt::after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    float: right;
    margin-top: 8px;
    margin-right: -15px;
    overflow: hidden;
}

.comment-wrap .toggle-wrap .comment-toggle-txt[data-type="1"]::after {
    background: url(../images/comment/more_arrows_icon.png) no-repeat center top;
    background-size: 8px 12px;
}

.comment-wrap .toggle-wrap .comment-toggle-txt[data-type="2"]::after {
    background: url(../images/comment/more_arrows_icon.png) no-repeat center bottom;
    background-size: 8px 12px;
}

.comment-wrap .toggle-wrap .receive-comment-toggle-txt {
    padding: 0 12px 0 12px;
}

.comment-wrap .toggle-wrap .comment-toggle-txt .toggle-span-txt {
    color: #f35b33;
}

.comment-wrap .comment-nick {
    font-size: 12px;
    color: #e02f17;
    line-height: 20px;
    cursor: pointer;
    max-width: 90px;
    word-break: break-all;
}

.comment-wrap .comment-nick-color {
    color: #fe6472
}

.comment-wrap .revceive-com-nick {
    font-weight: normal;
}

.comment-wrap .comment-times {
    display: block;
    color: #696969;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 2px;
}

.comment-wrap .comment-times .receive-btn {
    margin-left: 15px;
    cursor: pointer;
}

.comment-wrap .comment-times .comment-delete {
    display: none;
    margin-left: 15px;
    cursor: pointer;
}

.comment-wrap .comment-times .receive-btn:hover,
.comment-wrap .comment-times .comment-delete:hover {
    color: #ee3a22;
}

.comment-wrap .comment-user-details:hover .comment-delete {
    display: inline-block;
}

.comment-details .comment-content {
    box-sizing: border-box;
    padding-left: 60px;
    margin-top: 6px;
}

.comment-details .comment-txt {
    font-size: 12px;
    color: #333;
    height: 22px;
    line-height: 22px; /*word-wrap: break-word;*/
    word-break: break-all;
    -webkit-user-select: auto;
    user-select: auto;
}

.comment-details .receive-comment-txt {
    display: block;
    font-size: 12px;
    color: #333;
    line-height: 22px;
    background-color: #e9efee;
    padding: 5px 10px;
    -webkit-user-select: auto;
    user-select: auto;
}

.comment-wrap .comment-avatar-wrap .comment-auth {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
}

/*评论弹框*/
.comment_popup {
    display: none;
    position: fixed;
    left: 35%;
    top: 50%;
    z-index: 120;
    width: 90px;
    height: 59px;
    line-height: 59px;
    padding-left: 67px;
    margin-left: -78px;
    margin-top: -29px;
    font-size: 12px;
    color: #333333;
    background: url(../images/comment/comment_fail.png) no-repeat center;
    box-sizing: content-box;
}

.comment_success {
    background: url(../images/comment/comment_success.png) no-repeat center;
}

.comment_fail {
    background: url(../images/comment/comment_fail.png) no-repeat center;
}

/*删除评论提示*/
.delete-comment-tip {
    display: none;
    position: fixed;
    left: 35%;
    top: 50%;
    z-index: 120;
    width: 90px;
    height: 59px;
    line-height: 59px;
    padding-left: 67px;
    margin-left: -78px;
    margin-top: -29px;
    font-size: 12px;
    color: #333333;
    box-sizing: content-box;
}

.del-comment_success {
    background: url(../images/comment/comment_success.png) no-repeat center;
}

.del-comment_fail {
    background: url(../images/comment/comment_fail.png) no-repeat center;
}

/*回复评论*/
.comment-wrap .comment-details .receive_con {
    display: none;
    position: relative;
    height: 30px;
    padding: 5px 15px 10px 50px;
    box-sizing: content-box;
}

.comment-wrap .comment-details .receive_input_box {
    position: relative;
    float: left;
    width: 86%;
    height: 28px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
    background-color: #fff;
}

.comment-wrap .comment-details .receive_input_box_border {
    border: 1px solid #f97546;
}

.comment-wrap .comment-details .receive_input_box .emoji-wrap {
    display: block;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}

.comment-wrap .comment-details .receive_input_box .emoji-wrap:hover {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment-details .receive_input_box .lighter-emoji {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment-details .receive_input_box .gray-emoji {
    background-image: url(../images/comment/gray_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-wrap .comment-details .receive_input {
    white-space: nowrap;
    font-size: 12px;
    text-indent: 8px;
    overflow: hidden;
    width: 90%;
    height: 28px;
    padding: 0 -2px 0 5px;
    border: none;
    line-height: 28px;
    background-color: #fff;
}

.comment-wrap .comment-details .receive_input img {
    vertical-align: top;
}

.comment-wrap .comment-details .receive_btn {
    float: left;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #f8f8f8;
    background-color: #ff8c64;
    cursor: pointer;
}

.comment-wrap .comment-details .receive_btn:hover {
    background-color: #fa9876;
}

.comment-wrap .comment-details .receive_btn_hover {
    background-color: #fa9876;
}

.comment-wrap .comment-details .receive_btn_click {
    background-color: #f97546;
}

.comment-wrap .comment-details .receiv_input_box_border {
    border: 1px solid #f97546;
}

.comment-wrap .comment-details .receive_input_box .receive-default-txt {
    display: block;
    position: absolute;
    top: 5px;
    left: 13px;
    font-size: 12px;
    color: #333;
}

.comment-wrap .comment-details .receive_input_box .receive-default-txt .receive-default-span-txt {
    color: #e02f17;
}

/*二级回复*/
.comment-wrap .comment-user-details .comment-times .next-receive-btn {
    margin-left: 15px;
    cursor: pointer;
}

.comment-wrap .comment-user-details .comment-times .next-comment-delete {
    margin-left: 15px;
    cursor: pointer;
}

.comment-wrap .comment-user-details .comment-times .next-receive-btn:hover,
.comment-wrap .comment-user-details .comment-times .next-comment-delete:hover {
    color: #ee3a22;
}

.comment-details .receive-comment-txt .next_receive_con {
    display: none;
    position: relative;
    height: 30px;
    padding: 10px;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input_box {
    position: relative;
    float: left;
    width: 86%;
    height: 28px;
    border: 1px solid #e2e2e2;
    overflow: hidden;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input_box .emoji-wrap {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 100%;
    background-color: #fff;
    cursor: pointer;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input_box .emoji-wrap:hover {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input_box .lighter-emoji {
    background-image: url(../images/comment/lighter_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input_box .gray-emoji {
    background-image: url(../images/comment/gray_face_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_input {
    overflow: hidden;
    line-height: 28px;
    background-color: #fff;
    width: 100%;
    height: 28px;
    padding: 0 5px;
    border: none;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_btn {
    float: left;
    width: 68px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #f8f8f8;
    background-color: #fa9876;
    cursor: pointer;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_btn:hover {
    background-color: #ff8c64;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_btn_hover {
    background-color: #ff8c64;
}

.comment-details .receive-comment-txt .next_receive_con .next_receive_btn_click {
    background-color: #f97546;
}

.comment-details .receive-comment-txt .receive-toggle-wrap {
    position: relative;
    max-height: 66px;
    overflow: hidden;
}

.comment-details .receive-comment-txt .receive-toggle-wrap .comment-toggle-receive {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 12px 0 7px;
    cursor: pointer;
    height: 22px;
    line-height: 22px;
    text-align: right;
    background-color: #e9efee;
}

.comment-details .receive-comment-txt .receive-toggle-wrap .comment-toggle-receive::after {
    content: '';
    display: block;
    width: 8px;
    height: 6px;
    float: right;
    margin-top: 8px;
    margin-right: -11px;
    overflow: hidden;
}

.comment-details .receive-comment-txt .receive-toggle-wrap .comment-toggle-receive[data-type="1"]::after {
    background: url(../images/comment/more_arrows_icon.png) no-repeat center top;
    background-size: 8px 12px;
}

.comment-details .receive-comment-txt .receive-toggle-wrap .comment-toggle-receive[data-type="2"]::after {
    background: url(../images/comment/more_arrows_icon.png) no-repeat center bottom;
    background-size: 8px 12px;
}

/*.comment-details .receive-comment-txt .receive-toggle-wrap .comment-toggle-txt-receive{padding:padding:0 12px 0 12px;;}*/
.comment-details .receive-comment-txt .receive-toggle-wrap .toggle-span-txt-receive {
    color: #f35b33;
    font-size: 12px;
}

/*评论内容不为空提示*/
.common-text-no {
    display: none;
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: 120;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 173.5px;
    height: 62px;
    background: url(../../vv-base/images/comment/text_no_icon.png) no-repeat center;
    background-size: contain;
    box-sizing: content-box;
}

/*评论文字超出提示*/
.comment-text-limit {
    display: none;
    position: fixed;
    top: 50%;
    left: 35%;
    z-index: 120;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 173.5px;
    height: 62px;
    background: url(../../vv-base/images/comment/text_limit_icon.png) no-repeat center;
    background-size: contain;
    box-sizing: content-box;
}

/*评论加载更多*/
.comment-wrap .comment-load-more {
    display: none;
    margin: 0 auto;
    text-align: center;
}

.comment-wrap .comment-load-more .comment-load-img {
    width: 16px;
    height: 16px;
}

.comment-wrap .comment-load-more .comment-load-span {
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin-top: 10px;
    vertical-align: top
}

.comment-wrap .comment-load-arrows,
.comment-wrap .comment-load-try {
    display: none;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 6px;
}

.comment-wrap .comment-arrows-span {
    font-size: 12px;
    color: #666666;
    text-align: center;
    margin-top: 10px;
    vertical-align: top;
}

.comment-wrap .comment-arrows-span-color {
    font-size: 12px;
    color: #e02f17;
    text-align: center;
    margin-top: 10px;
    vertical-align: top;
    cursor: pointer;
}

.comment-wrap .comment-arrows-img {
    cursor: pointer;
    background-image: url('../../vv-base/images/comment/more_arrows_icon.png');
    background-repeat: no-repeat;
    width: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -8px;
    height: 6px;
    margin-left: 3px
}

.comment-wrap .comment-arrows-img1 {
    background-position: 0 0;
}

.comment-wrap .comment-arrows-img2 {
    background-position: 0 -6px;
}

/*表情部分*/
.comment-wrap .dynamic-emoji {
    display: none;
    position: absolute;
    top: -200px;
    right: 44px;
    z-index: 111;
}

.comment-wrap .dynamic-emoji .box-ext {
    height: 200px;
    width: 295px;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box {
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box {
    height: 190px;
    margin: 5px 0;
    overflow-y: auto;
    width: 95%;
    margin: 4px auto;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .emoji-tip {
    display: none;
    height: 18px;
    position: absolute;
    padding: 0 2px;
    border: 1px solid #666;
    border-radius: 3px;
    color: #333;
    line-height: 18px;
    background-color: #fff;
    font-size: 12px;
    z-index: 20;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table {
    width: 100%;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr {
    width: 100%;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr td {
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    border-bottom: 1px solid #f2f2f2;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr td:not(:last-child) {
    border-right: 1px solid #f2f2f2;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr td .td-span {
    display: block;
    border: 1px solid #fff;
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr td .border-span {
    border: 1px solid #fbc5b1
}

.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr td .emoji {
    width: 24px;
}

.comment-wrap .reveive-dynamic-emoji {
    display: none;
    position: fixed;
    z-index: 111;
}

.comment-wrap .reveive-dynamic-emoji .box-ext {
    height: 206px;
    width: 230px;
}

.comment-wrap .reveive-dynamic-emoji .box-ext .emoji-box {
    background-color: #fff;
    position: relative;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
}

.comment-wrap .reveive-dynamic-emoji .box-ext .emoji-box .item-box {
    height: 190px;
    margin: 5px 0;
    overflow-y: auto;
}

.comment-wrap .reveive-dynamic-emoji .box-ext .emoji-box .emoji-tip {
    display: none;
    height: 18px;
    position: absolute;
    padding: 0 2px;
    border: 1px solid #666;
    border-radius: 3px;
    color: #333;
    line-height: 18px;
    background-color: #fff;
    font-size: 12px;
    z-index: 20;
}

/*手机验证*/
.phone_detail {
    width: 320px;
    position: absolute;
    z-index: 1000000;
    left: -35px;
    top: -145px;
    display: none;
}

.phone_detail .phone_box {
    position: absolute;
    border: 1px solid #ebeded;
    background-color: #fff;
    box-shadow: 3px 2px 7px -1px #888888;
    border-radius: 8px;
    color: #333333;
    font-size: 14px;
}

.triangle-up1 {
    position: absolute;
    bottom: -8px;
    left: 133px;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #ebeded;
}

.triangle-up2 {
    position: absolute;
    bottom: -7px;
    left: 133px;
    width: 0;
    height: 0;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-top: 7px solid #fff;
}

.phone_title {
    background: #f1f1f1;
    height: 34px;
    line-height: 34px;
    padding: 0 20px;
}

.phone_text {
    padding: 10px 20px;
    line-height: 25px;
}

.phone_btn {
    color: #ec5244;
    text-align: right;
    padding: 0 20px 10px;
    cursor: pointer;
}