/* Tipso Bubble Styles */
.tipso_bubble, .tipso_bubble > .tipso_arrow{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.tipso_bubble {
    position: absolute;
	text-align: center;
	border-radius: 6px;
	z-index: 9999;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.tipso_bubble.left {
	text-align: right;
}
.tipso_style{
	cursor: help;
	/*border-bottom: 1px dotted;*/
}

/* Tipso Bubble Div */
.tipso_bubble > .tipso_arrow{
	position: absolute;
	width: 0; height: 0;
	border: 8px solid;
	pointer-events: none;
}
.tipso_bubble.top > .tipso_arrow {
   	border-top-color: #000;
   	border-right-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;
    top: 100%;
    left: 50%;
    margin-left: -8px;
}
.tipso_bubble.bottom > .tipso_arrow {
    border-bottom-color: #000;
    border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
}
.tipso_bubble.left > .tipso_arrow {
    border-left-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-right-color: transparent;
    top: 50%;
	left: 100%;
	margin-top: -8px;
}
.tipso_bubble.right > .tipso_arrow {
    border-right-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
    top: 50%;
	right: 100%;
	margin-top: -8px;
}