.body-con{
  width: 100%;
  height: 100%;
  background: url("../images/bg.png") repeat;

}
.banner {
  width: 1200px;
  height: 326px;
  overflow: hidden;
  margin: 0 auto;
  .swiper-slide{
    background-color: #ccc;
  }
  img{
    display: block;
    width:76px;
    height:64px;
    margin: 108px auto 0;
  }
  img.real{
    width: 100%;
    height:100%;
  }
}
.courses-box{
  width: 1200px;
  overflow: hidden;
  margin: 25px auto;
  .courses{
    width: 690px;
    height:424px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 4px solid #999;
    border-radius: 10px;
    background-color: #fff;
    float: left;
    h1{
      margin-bottom: 20px;
      background: #FFA500;
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      line-height: 33px;
      text-align: center;
    }
    h2{
      color: #1d9fd3;
      margin-left: 15px;
      font-weight: bold;
    }
    p{
      color: #666;
      padding:0 15px;
      margin: 15px 0;
      strong{
        color: #FFA500;
      }
    }
    p.total{
      color: #487d98;
    }
    ol{
      color: #666;
      list-style: circle;
      margin:20px 0  20px 37px;
    }
  }
  .courses > div{


  }
  .hot{
    float: left;
    background-color: #fff;
    width: 488px;
    height:424px;
    margin-left: 20px;
    overflow: hidden;
    padding: 20px;
    h1{
      color: #1abc9c;
      height: 46px;
      line-height: 46px;
      border-bottom: 1px solid #90bba8;
    }
    .tags{
      a{
        display: inline-block;
        padding: 6px 15px;
        margin: 10px 10px 10px 20px;
        color: #fff;
      }
      a:hover{
        text-shadow:2px 3px 4px #333333;  
      }
      .bg1{
        background-color: #5cb85c;
      }
      .bg2{
        background-color: #b37333;
      }
      .bg3{
        background-color: #15a287;
      }
      .bg4{
        background-color: #f60;
      }
      .bg5{
        background-color: #567e95;
      }
    }
  }
}

.teachers-con{
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  padding-bottom: 20px;
}
.teacher-title{
  width: 895px;
  margin: 20px auto;
  text-align: center;
  h3{
    font-size: 38px;
    color: #333;
    font-weight: normal;
    span{
      color: #3697d9;
    }
  }
  p{
    color: #999;
    font-size: 18px;
  }
}
.teachers {
  width: 890px;
  height: 400px;
  overflow: hidden;
  margin: 20px auto;
  .swiper-slide {
    overflow: hidden;
    position: relative;
    img {
      width: 100%;
    }
    .desc {
      height: 100%;
      position: absolute;
      left: 0;
      top: 310px;
      background-color: rgba(0, 0, 0, .7);
      color: #fff;
      padding: 0 40px;
      transition: all 1s;
      -moz-transition: all 1s; /* Firefox 4 */
      -webkit-transition: all 1s; /* Safari 和 Chrome */
      -o-transition: all 1s; /* Opera */
      p{
        line-height: 26px;
        margin-top: 22px;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
        -webkit-transition:all 1s;
        -moz-transition:all 1s;
        -o-transition:all 1s;
        transition:all 1s;
        strong{
          font-size: 18px;
        }
      }
    }
    &:hover{
      .desc{
        top:0;
        p{
          margin-top: 200px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }

    }

  }
}



#qqConnection{
  position: fixed;
  right: 0;
  top: 400px;
}