#qqConnection{
  position: fixed;
  right: 0;
  top: 400px;
}
.contact_con{
  width: 900px;
  margin: 0 auto;
  color: #666;
  overflow: hidden;
  section{
    width: 450px;
    box-sizing: border-box;
    padding: 15px;
    float: left;
    margin: 20px 0;
  }
  h1{
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
  }
  h2{
    font-size: 16px;
    margin: 15px 0;
  }
  p{
    line-height: 26px;
    i{
      font-style: normal;
      color:cadetblue;
    }
  }
}
iframe{
  display: block;
  width: 1000px;
  height: 552px;
  overflow: hidden;
  margin: 0 auto 15px;
}
