
.header{
  height:60px;
  line-height: 60px;
  background-color: #2aa9e7;
  .navs{
    width:900px;
    overflow: hidden;
    margin: 0 auto;
    padding-left: 200px;
    position: relative;
    ul{
      overflow: hidden;
      li{
        float: left;
        overflow: hidden;
        text-align: center;
        position: relative;
        box-sizing: border-box;

        a{
          display: block;
          margin: 0 20px;
          color: #fff;
          text-shadow:1px 1px 5px #666;
        }
        i{
          display: block;
          width: 70%;
          height:4px;
          position: absolute;
          left: 50%;
          margin-left: -35%;
          bottom:4px;
          background-color: #f8a64e;
          transform: translate3d(0, -600px, 0);
        }
      }
      li.selected{
        i{
          transform: translate3d(0, 0, 0);
        }
      }
    }
    #logo{
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 90px;
      top:10px;
      background: url("../images/logo.png") no-repeat center top;
      background-size: 100%;
    }
  }

}