.sendGiftBox {
  position: relative;
  margin: 20px;
  width: 386px;
  height: 280px;
  box-shadow: 0 0 5px 3px #e9e9e9;
  border-radius: 4px;
  background: #fff;
}
.sendGiftBox .top {
  width: 100%;
  height: 32px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9f9f9;
  border-radius: 4px 4px 0 0;
}
.sendGiftBox .top .title {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
}
.sendGiftBox .top .title .name {
  margin-left: 3px;
  color: #333;
}
.sendGiftBox .top .closeBtn {
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -32px;
  cursor: pointer;
}
.sendGiftBox .top .closeBtn:hover {
  background-position: -20px -32px;
}
.sendGiftBox .top .closeBtn:active {
  background-position: -40px -32px;
}
.sendGiftBox .giftBox {
  position: relative;
  padding: 10px 30px 0;
}
.sendGiftBox .giftBox .giftListBox {
  position: relative;
  width: 326px;
  height: 180px;
  overflow: hidden;
}
.sendGiftBox .giftBox .giftList {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 326px;
  transition: 0.5s;
}
.sendGiftBox .giftBox .giftList ul {
  float: left;
  width: 326px;
  height: 180px;
}
.sendGiftBox .giftBox .giftList ul li {
  position: relative;
  display: inline-block;
  width: 56px;
  margin-right: 10px;
  cursor: pointer;
}
.sendGiftBox .giftBox .giftList ul li .imageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
}
.sendGiftBox .giftBox .giftList ul li .imageBox img {
  max-width: 40px;
  max-height: 40px;
}
.sendGiftBox .giftBox .giftList ul li .imageBox .right_tips {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 14px;
  height: 14px;
  background: 0 0 no-repeat;
  background-size: cover;
}
.sendGiftBox .giftBox .giftList ul li .priceBox {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 7px;
  height: 34px;
  font-size: 11px;
  color: #666;
}
.sendGiftBox .giftBox .giftList ul li .priceBox .yue_icon {
  width: 12px;
  height: 13px;
  margin-right: 2px;
  background: url("../images/icon.png") no-repeat;
  background-position: -159px 0;
}
.sendGiftBox .giftBox .giftList ul li .priceBox .yue_num {
  margin: -2px 0 0 2px;
}
.sendGiftBox .giftBox .giftList ul li .popupBox {
  display: none;
  position: absolute;
  width: 110px;
  height: 70px;
  background: #fff;
  font-size: 12px;
  color: #333;
  padding: 8px;
  box-shadow: 0 0 5px 1px #e9e9e9;
  border-radius: 2px;
  z-index: 1;
}
.sendGiftBox .giftBox .giftList ul li .popupBox .hot {
  margin: 3px 0;
}
.sendGiftBox .giftBox .giftList ul li:nth-of-type(-n+6) .popupBox {
  left: 1px;
  top: 60px;
}
.sendGiftBox .giftBox .giftList ul li:nth-of-type(5) .popupBox {
  right: 1px;
  left: initial;
}
.sendGiftBox .giftBox .giftList ul li:nth-of-type(n+6) .popupBox {
  right: 1px;
  top: -73px;
}
.sendGiftBox .giftBox .giftList ul li:hover .popupBox {
  display: block;
}
.sendGiftBox .giftBox .giftList ul li:nth-of-type(5n) {
  margin-right: 0;
}
.sendGiftBox .giftBox .giftList ul li.active .imageBox {
  border: 1px solid #ffe067;
  background: url("../images/gift_bg.png") right bottom no-repeat #fffbeb;
  background-size: 19px 18px;
}
.sendGiftBox .giftBox .giftList ul li.giftitem:hover .imageBox {
  border: 1px solid #ffe067;
  background: #fffbeb;
}
.sendGiftBox .giftBox .btn {
  position: absolute;
  top: 85px;
  display: inline-block;
  width: 9px;
  height: 15px;
  background: url("../images/icon.png") no-repeat;
  cursor: pointer;
}
.sendGiftBox .giftBox .leftBtn {
  left: 9px;
  background-position: -1px -61px;
}
.sendGiftBox .giftBox .leftBtn:hover {
  background-position: -21px -61px;
}
.sendGiftBox .giftBox .leftBtn:active {
  background-position: -41px -61px;
}
.sendGiftBox .giftBox .leftBtn.leftBtn_gray {
  cursor: initial;
  background-position: -61px -61px;
}
.sendGiftBox .giftBox .rightBtn {
  right: 9px;
  background-position: -107px -61px;
}
.sendGiftBox .giftBox .rightBtn:hover {
  background-position: -127px -61px;
}
.sendGiftBox .giftBox .rightBtn:active {
  background-position: -147px -61px;
}
.sendGiftBox .giftBox .rightBtn.rightBtn_gray {
  cursor: initial;
  background-position: -167px -61px;
}
.sendGiftBox .giftBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 57px;
  border-top: 1px solid #f2f2f2;
  padding: 0 12px;
}
.sendGiftBox .giftBottom .left {
  font-size: 12px;
}
.sendGiftBox .giftBottom .left .money {
  color: #666;
}
.sendGiftBox .giftBottom .left .money .num {
  color: #333;
  margin-right: 3px;
}
.sendGiftBox .giftBottom .left .recharge {
  color: #f2ac14;
  margin-left: 10px;
  cursor: pointer;
}
.sendGiftBox .giftBottom .left .recharge:hover, .sendGiftBox .giftBottom .left .recharge:active {
  color: #f19c00;
}
.sendGiftBox .giftBottom .right {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendGiftBox .giftBottom .right .inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 74px;
  height: 32px;
  border: 1px solid #f9da68;
  border-radius: 4px 0 0 4px;
}
.sendGiftBox .giftBottom .right .inputBox input {
  width: 54px;
  padding: 0 6px;
  height: 30px;
  line-height: 30px;
  border: 0;
  font-size: 12px;
  color: #333;
}
.sendGiftBox .giftBottom .right .inputBox input:disabled {
  background: transparent;
}
.sendGiftBox .giftBottom .right .inputBox .btn {
  width: 9px;
  height: 5px;
  background: url("../images/icon.png") no-repeat;
  cursor: pointer;
}
.sendGiftBox .giftBottom .right .inputBox .upBtn {
  background-position: -138px 0;
}
.sendGiftBox .giftBottom .right .inputBox .downBtn {
  background-position: -138px -10px;
}
.sendGiftBox .giftBottom .right .sendBtn {
  width: 64px;
  height: 32px;
  background: url("../images/icon.png") no-repeat;
  background-position: 0 -91px;
  cursor: pointer;
}
.sendGiftBox .giftBottom .right .sendBtn:hover {
  background-position: 0 -133px;
}
.sendGiftBox .giftBottom .right .sendBtn:active {
  background-position: 0 -175px;
}
.sendGiftBox .giftBottom .right .sendBtn.sendBtn_gray {
  background-position: 0 -175px;
}
.sendGiftBox .giftBottom .right .sendList {
  position: absolute;
  left: 0;
  top: -164px;
  width: 110px;
  height: auto;
  background: #fffef0;
  border-radius: 4px;
  padding: 2px 0;
  font-size: 12px;
  color: #69685a;
  cursor: pointer;
  border: 1px solid #f9da68;
  border-radius: 4px;
}
.sendGiftBox .giftBottom .right .sendList li {
  width: 100%;
  height: 26px;
  line-height: 26px;
  padding: 0 7px;
}
.sendGiftBox .giftBottom .right .sendList li.active {
  background: #f5f2cd;
  color: #373733;
}
.sendGiftBox .gift-triangle-up {
  position: absolute;
  bottom: -7px;
  right: 110px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}
.sendGiftBox .sendDialog {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 3px #e9e9e9;
  border-radius: 4px;
  background: #fff;
  font-size: 12px;
  color: #333;
}
.sendGiftBox .sendDialog .sendSuccess {
  width: 210px;
  height: 154px;
}
.sendGiftBox .sendDialog .sendSuccess .giftViewBox {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendGiftBox .sendDialog .sendSuccess .giftViewBox img {
  max-width: 180px;
  max-height: 80px;
}
.sendGiftBox .sendDialog .sendSuccess .giftViewBox .giftCount {
  position: absolute;
  top: 66px;
  left: 150px;
  font-size: 14px;
  color: #aa510f;
}
.sendGiftBox .sendDialog .sendSuccess .sucTip1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sendGiftBox .sendDialog .sendSuccess .sucTip1 .suc_icon {
  width: 16px;
  height: 16px;
  background: url("../images/icon.png") no-repeat;
  background-position: -118px -29px;
  margin-right: 5px;
}
.sendGiftBox .sendDialog .sendSuccess .sucTip2 {
  text-align: center;
  margin-top: 7px;
}
.sendGiftBox .sendDialog .sendFail {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 54px;
  padding: 0 15px;
}
.sendGiftBox .sendDialog .sendFail .fail_icon {
  width: 16px;
  height: 16px;
  background: url("../images/icon.png") no-repeat;
  background-position: -90px -30px;
  margin-right: 5px;
}