<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>师兄帮前端培训联系方式</title>
    <%- include('../../../vv-base/htm/meta.htm') %>
    <link rel="stylesheet" type="text/css" href="../css/contact.css<%= version ? '?v=' + version : ''%>">
    <link rel="stylesheet" type="text/css" href="../../../vv-base/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../../vv-base/css/swiper-3.4.2.min.css">
</head>
<body>
<%- include('../component/htm/head.html') %>
<div class="contact_con">
    <h1>师兄帮前端培训</h1>
    <section>
        <h2>学校地址</h2>
        <p>北京市昌平区回龙观西大街东亚上北中心</p>
    </section>
    <section>
        <h2>乘车路线</h2>
        <p>地铁13号线回龙观下车，向北行1.5公里 </p>
        <p>【咨询电话】15201137561</p>
    </section>
    <section>
        <h2>联系我们</h2>
        <p>全国统一咨询热线：<i>15201137561</i></p>
        <p>咨询QQ：<i>3254610367</i></p>
        <p>官方网址：<i>www.shixiongbang.cn</i></p>
    </section>
</div>
<iframe src="./map.html" frameborder="0"></iframe>
<%- include('../component/htm/copyright.html') %>
<a id="qqConnection" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=991215052&site=qq&menu=yes">
    <img border="0" src="http://wpa.qq.com/pa?p=2:991215052:53" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</a>
<script type="text/javascript" src="../../../vv-base/js/source/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/contact.js<%= version ? '?v=' + version : ''%>"></script>
<script type="text/javascript" src="../../../vv-base/js/source/swiper-3.4.2.jquery.min.js"></script>
</body>
</html>
