<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>师兄帮前端培训</title>
    <%- include('../../../vv-base/htm/meta.htm') %>
    <link rel="stylesheet" type="text/css" href="../css/index.css<%= version ? '?v=' + version : ''%>">
    <link rel="stylesheet" type="text/css" href="../../../vv-base/css/animate.css">
    <link rel="stylesheet" type="text/css" href="../../../vv-base/css/swiper-3.4.2.min.css">
</head>
<body>
<%- include('../component/htm/head.html') %>
<div class="body-con">
    <%- include('../component/htm/aside.html') %>
    <%- include('../component/htm/copyright.html') %>
</div>
<a id="qqConnection" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3254610367&site=qq&menu=yes">
    <img border="0" src="http://wpa.qq.com/pa?p=2:3254610367:53" alt="点击这里给我发消息" title="点击这里给我发消息"/>
</a>
<script type="text/javascript" src="../../../vv-base/js/source/jquery-1.8.3.js"></script>
<script type="text/javascript" src="../js/index.js<%= version ? '?v=' + version : ''%>"></script>
<script type="text/javascript" src="../../../vv-base/js/source/swiper-3.4.2.jquery.min.js"></script>
</body>
</html>
