@import '../../../vv-base/sass/storebase';
@import '../component/sass/head';
@import '../component/sass/contact';
@import '../component/sass/copyright';
html,body{
  width: 100%;
  overflow-x: hidden;
}
