/*活动页悬浮二维码*/
.vvbase_download{ position: fixed; display: none; top: 275px; left: 50%; z-index: 100; width: 140px; height: 160px; margin-left: 400px; }
.vvbase_download a{ display: block; width: 124px; height: 26px; line-height: 26px; margin: 0 auto; background-color: #ff797c; border-radius: 3px; font-size: 14px; color: #ffffff; text-align: center; }
.vvbase_download a:hover{ background-color: #ff6366; }
.vvbase_download .qr_code_box{ width: 106px; height: 126px; margin: 4px auto 0; background-color: #ff797c; border-radius: 3px; overflow: hidden; }
.vvbase_download .qr_code_box .qr_code{ width: 98px; height: 98px; margin: 4px auto 0; background: url("../../../../vv-base/images/qr_code.jpg") no-repeat 0 0; }
.vvbase_download .qr_code_box .text{ width: 104px; height: 24px; line-height: 22px; font-size: 12px; color: #ffffff; text-align: center; margin: 0 auto; }