// 手机验证
.vvbase_phoneVerify{
    display: none;
    position: absolute;
    top: 0;
    left: 13px;
    width: 320px;
    border: 1px solid #ebeded;
    background-color: #fff;
    box-shadow: 3px 2px 7px -1px #888888;
    border-radius: 8px;
    color: #333333;
    font-size: 14px;
   
    .triangle-up1 {
        position: absolute;
        bottom: -8px;
        left: 133px;
        width: 0;
        height: 0;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        border-top: 8px solid #ebeded;
    }
    .triangle-up2 {
        position: absolute;
        bottom: -7px;
        left: 133px;
        width: 0;
        height: 0;
        border-right: 7px solid transparent; 
        border-left: 7px solid transparent;
        border-top: 7px solid #fff;
    }
    .phone_title{
        background: #f1f1f1;
        height: 34px;
        line-height: 34px;
        padding: 0 20px;
    }
    .phone_text{
        padding: 10px 20px;
        
        line-height: 25px;
    }
    .phone_btn{
        cursor: pointer;
        color:#ec5244;
        text-align: right;
        padding: 0 20px 10px;
    }
}
