@import 'base/base';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/variables';

body{
  font-family: "Microsoft Yahei";
}

.clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.fl, .left {
  float: left;
}

.fr, .right {
  float: right;
}

.hide {
  display: none !important;
}

.f12 {
	font-size: 12px;
}

.f14 {
	font-size: 14px;
}

.f16 {
	font-size: 16px;
}

.fb {
	font-weight: 700;
}

.ta_l {
	text-align: left;
}

.ta_c {
	text-align: center;
}

.ta_r {
	text-align: right;
}

.none {
  display: none;
}

/*文字超出省略*/
.ellipsis{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

/*光标*/
.cursor{ cursor: pointer; }
.flex { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; }
.flex-v { -webkit-box-orient: vertical; -webkit-flex-direction: column; -ms-flex-direction: column; flex-direction: column; }
.flex-h {  -webkit-box-orient: horizontal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; }
.flex-w {  flex-wrap: wrap;  }
.flex-1 { -webkit-box-flex: 1; -webkit-flex: 1; -ms-flex: 1; flex: 1; }
.flex-align-center { -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; }
.flex-pack-center { -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }
.flex-pack-justify { -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; }