<div class="swiper-container banner">
    <div class="swiper-wrapper">

    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<div id="lessons" class="courses-box">
    <div class="courses">
        <div class="part-a">
            <h1 class='title'>A、初级阶段：20个课时</h1>
            <div>
                <h2 class='h2'>一、HTML5+CSS3 JavaScript 18个课时：</h2>
                <p>1.课程体系介绍、HTML+CSS基本入门知识</p>
                <p>2.网站运行原理</p>
                <p>3.HTML常用标签、表单新类型、网页SEO优化</p>
                <p>4.HTML5语义化标签、音视频标签</p>
                <p>5.CSS选择器(基本、层级、属性、伪类、伪状态)</p>
                <p>6.CSS常用样式属性</p>
                <p>7.CSS3 过渡、变换、动画</p>
                <p>8.CSS3 3D场景搭建与应用</p>
                <p>9.Iconfont 字体图标(阿里巴巴矢量字体图标库)原理以及实现</p>
                <p>10.Media媒体响应式布局</p>
                <p>11.Flex弹性盒子布局</p>
                <p>12.移动端适配原理 rem（px、em、rem、%、vm）</p>
                <p>13.ECMAScript核心语法结构</p>
                <p>14.变量声明优先</p>
                <p>15.函数详解(格式、作用域、作用域链、回调、闭包、匿名、递归、立即执行函数)</p>
                <p>16.内存泄漏与垃圾回收</p>
                <p>17.cookie和session。</p>
                <p>18.上下左右居中的几种实现。</p>
                <p>19.BFC和IFC模型。</p>
                <p>20.单线程原理</p>
                <p>21.js原型链继承和Class继承，及两者对比</p>
            </div>
            <div>
                <h2 class='h2'>二、其他 2个课时：</h2>
                <p>1.精灵图(雪碧图)的原理以及实现</p>
                <p>2.Photoshop基本切图</p>
                <p>3.CDN原理和运作模式</p>
                <p>4.http请求优化</p>
            </div>
        </div>
        <div class="part-b">
            <h1 class='title'>B、中级阶段：48个课时</h1>
            <div>
                <h2 class='h2'>一、JavaScript+jQuery+Nodejs+Ajax JSONP项目实战考核 20个课时</h2>
                <p>1.对象详解(格式、内置对象、原型、原型链)</p>
                <p>2.事件(event) 事件冒泡、捕获</p>
                <p>3.DOM 文档对象模型（dom元素继承）</p>
                <p>4.BOM 浏览器对象模型</p>
                <p>5.jQuery的概念与基本使用</p>
                <p>6.jQuery元素节点操作</p>
                <p>7.jQuery的事件绑定链式操作及原理</p>
                <p>8.jQuery元素属性样式操作</p>
                <p>9.原生Ajax的运行原理与实现</p>
                <p>10.Ajax请求同源策略布局</p>
                <p>11.JSONP 跨域请求原理以及实现方式jQuery封装的Ajax调用和JSONP数据跨域请求原理和实现</p>
                <p>12.跨域的几种方式</p>
                <p>13.web网络攻击</p>
                <p>14.HTTP 首部字段和状态码</p>
                <p>15.CSP内容安全策略</p>
                <p>16.Unicode和UTF编码</p>

            </div>
            <div>
                <h2 class='h2'>二、H5新特性 10个课时：</h2>
                <p>1.多媒体API</p>
                <p>2.地理定位(Geolocation)</p>
                <p>3.拖拽API</p>
                <p>4.文件API（FileReader）</p>
                <p>5.xhr2、FormData</p>
                <p>6.localStorage/sessionStorage本地存储</p>
                <p>7.ApplicationCache 应用程序缓存</p>
                <p>8.WebWorks多线程</p>
                <p>9.Websocket 网络编程</p>
                <p>10.Canvas绘图</p>
                <p>11.http2.0</p>
                <p>12.fetch请求</p>
            </div>
            <div>
                <h2 class='h2'>三、ES6 8个课时：</h2>
                <p>1.ES6语法</p>
                <p>2.Promise 对象</p>
                <p>3.Class 的基本语法、Class 的继承</p>
                <p>4.箭头函数、set、map、proxy、symbol、reflect、generator</p>
            </div>
            <div>
                <h2 class='h2'>四、Vue 10个课时：</h2>
                <p>1.Vue实例</p>
                <p>2.Vue生命周期</p>
                <p>3.vue语法</p>
                <p>4.组件定义和使用、组件间的通信</p>
                <p>5.自定义指令、单文件组件</p>
                <p>6.脚手架vue-cli</p>
                <p>7.路由vue-router</p>
                <p>8.vueX状态管理</p>
                <p>9.数据请求axios</p>
                <p>10.vue 项目</p>
            </div>
        </div>
        <div class="part-c">
            <h1 class='title'>C、高级阶段：27个课时</h1>
            <div>
                <h2 class='h2'>一、Node.js+Sass+Less+Bootstrap 10个课时</h2>
                <p>1.nodeJS介绍及使用</p>
                <p>2.环境搭建</p>
                <p>3.NPM包管理器</p>
                <p>4.CommonJS规范、模块化思想及操作</p>
                <p>5.文件模块</p>
                <p>6.http、URL</p>
                <p>7.querystring、path等模块</p>
                <p>8.HTTP模块、WEB开发框架介绍</p>
                <p>9.noSQL基础概念</p>
                <p>10.MongoDB 简介、安装数据库、集合、文档概念</p>
                <p>11.文档CURD操作</p>
                <p>12.nodeJS操作MongoDB</p>
                <p>13.Expres的安装、使用</p>
                <p>14.使用模板引擎</p>
                <p>15.Express中间件</p>
                <p>16.Express路由</p>
                <p>17.Bootstrap的介绍和使用</p>
                <p>18.Sass与Less介绍与使用</p>
                <p>19.Express+MongoDB+BootStrap搭建博客系统实战</p>
                <p>20.koajs、thinkjs</p>
                <p>21.webpack4配置</p>
            </div>
            <div>
                <h2 class='h2'>二、React 10个课时</h2>
                <p>1.安装</p>
                <p>2.元素渲染</p>
                <p>3.JSX</p>
                <p>4.组件</p>
                <p>5.State(状态)</p>
                <p>6.Props</p>
                <p>7.事件处理</p>
                <p>8.条件渲染</p>
                <p>9.列表 & Keys</p>
                <p>10.组件 API</p>
                <p>11.组件生命周期</p>
                <p>12.AJAX</p>
                <p>13.表单与事件</p>
                <p>14.Refs</p>
            </div>
            <div>
                <h2 class='h2'>三、Git 3个课时</h2>
                <p>1.安装Git</p>
                <p>2.创建版本库</p>
                <p>3.工作区、暂存区、版本区概念及原理</p>
                <p>4.回退、撤销、删除、修改原理</p>
                <p>5.远程管理</p>
                <p>6.分支管理</p>
                <p>7.标签管理</p>
                <p>8.自定义Git</p>
            </div>
            <div>
                <h2 class='h2'>四、Angular、微信小程序Svn 4个课时</h2>
                <p>1.Svn 的使用</p>
                <p>2.Svn ps Git</p>
                <p>3.React ps vue</p>
                <p>4.Angular 的介绍使用</p>
                <p>5.微信小程序</p>
                <p>6.服务器的使用，常用linux命令，项目部署</p>
            </div>
        </div>
        <div class="part-d">
            <h1 class='title'>D、就业冲刺：1个课时</h1>
            <div>
                <h2 class='h2'>一、面试技巧</h2>
                <p>面试技能题</p>
                <p>面试人资题</p>
                <p>项目概述</p>
                <p>笔试题</p>
        </div>
    </div>
    </div>
    <div class="hot">
        <h1>热门标签</h1>
        <div class="tags">
            <a href="" class="bg1"> Node入门</a>
            <a href="" class="bg4"> 架构师培训视频</a>
            <a href="" class="bg3"> Vue视频</a>
            <a href="" class="bg2"> 微信小程序课程</a>
            <a href="" class="bg5">html5专题</a>
            <a href="" class="bg2"> 前端技术资料</a>
            <a href="" class="bg1"> css3视频</a>
            <a href="" class="bg5">最火的MVVM开发框架</a>
        </div>
    </div>
</div>
<div id="teachers" class="teachers-con">
    <div class="teacher-title">
        <h3>
            <span> 一线技术讲师团汇聚</span>，实战经验倾囊相授
        </h3>
        <p>讲师来自多家IT企业</p>
    </div>
    <div class="swiper-container teachers">
        <div class="swiper-wrapper">


        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>

<script type="text/template" id="banner-tem">
    {{ for( var i = 0; i < it.length; i++){ var item = it[i];}}
    <div class="swiper-slide">
        <img data-url = "{{= item.img||''}}" src="../images/default_pic.png" alt="">
    </div>
    {{ } }}

</script>
<script type="text/template" id="teacher-tem">
    {{ for(var i = 0; i < it.length; i++) { var item = it[i]; }}

    <div class="swiper-slide">
        <img src="{{= item.img}}" alt="">
        <div class="desc">
            <p>
                <strong class="name">{{= item.name||''}}</strong><br>
                <span class="his-position">{{= item.tag||'' }} </span><br><br>
                <i class="his-desc">{{= item.desc||''}}</i>
            </p>
        </div>
    </div>
    {{ } }}

</script>