<div class="header">
    <div class="navs">
        <a id="logo" href="/web/dist/html/index.html"></a>
        <ul class="nav-list flex flex-pack-justify" >
            <li class="selected"><a href="#">首页</a><i class="animated" ></i></li>
            <li class="nav-courses"><a  href="#">课程</a><i class="animated" ></i></li>
            <li class="nav-teachers"><a  href="#">讲师</a><i class="animated" ></i></li>
            <li><a href="#">联系我们</a><i class="animated" ></i></li>
        </ul>
    </div>
</div>