.comment-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding-bottom: 10px;
}
.comment-wrap .comment-input-border {
  border: 1px solid #f97546;
}
.comment-wrap .triangle-comment-more1 {
  position: absolute;
  top: -8px;
  left: 50%;
  margin-left: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ebeded;
}
.comment-wrap .triangle-comment-more2 {
  position: absolute;
  top: -7px;
  left: 50%;
  margin-left: -3.5px;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #f2f6f6;
}
.comment-wrap .comment_con {
  display: flex;
  position: relative;
  height: 50px;
  padding: 10px;
}
.comment-wrap .comment_con .comment_input_box {
  position: relative;
  float: left;
  width: 542px;
  height: 30px;
  border: 1px solid #e2e2e2;
}
.comment-wrap .comment_con .comment_input_box .comment_input {
  white-space: nowrap;
  width: 91.7%;
  height: 28px;
  padding: 0 -2px 0 5px;
  text-indent: 8px;
  border: none;
  background: #fff;
  line-height: 28px;
  font-size: 12px;
  overflow: hidden;
}
.comment-wrap .comment_con .comment_input_box .comment_input img {
  vertical-align: text-bottom;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.comment-wrap .comment_con .comment_input_box .emoji-wrap {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.comment-wrap .comment_con .comment_input_box .emoji-wrap:hover {
  background-image: url(../images/lighter_face_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.comment-wrap .comment_con .comment_input_box .gray-emoji {
  background-image: url(../images/gray_face_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.comment-wrap .comment_con .comment_btn {
  float: left;
  width: 68px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: #f8f8f8;
  background-color: #ff8c64;
  cursor: pointer;
}
.comment-wrap .comment_con .comment_btn:hover {
  background-color: #f97546;
}
.comment-wrap .comment_list .comment-details {
  /* width: 636px; */
  padding: 5px 20px 0;
  margin-bottom: 5px;
  box-sizing: border-box;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-avatar-wrap {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  float: left;
  cursor: pointer;
  border: 2px solid #f9fefe;
  box-sizing: border-box;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-avatar-wrap:hover {
  border: 2px solid #edbdbd;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-avatar-wrap .comment-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-avatar-wrap .comment-auth {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details {
  position: relative;
  margin-left: 50px;
  box-sizing: border-box;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .toggle-wrap {
  position: relative;
  max-height: 72px;
  overflow: hidden;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .toggle-wrap .comment-nick {
  font-size: 12px;
  color: #e02f17;
  line-height: 20px;
  cursor: pointer;
  word-break: break-all;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .toggle-wrap .comment-txt {
  font-size: 12px;
  color: #333;
  height: 24px;
  line-height: 24px;
  word-break: break-all;
  -webkit-user-select: auto;
  user-select: auto;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .toggle-wrap .comment-txt img {
  width: 20px;
  vertical-align: top;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .toggle-wrap .comment-toggle-txt {
  display: none;
  position: absolute;
  bottom: 0;
  right: 1px;
  background: url(../images/spread_icon.png) no-repeat right center;
  background-size: 8px 5px;
  padding: 0 9px 0 7px;
  cursor: pointer;
  height: 22px;
  line-height: 22px;
  text-align: right;
  background-color: #f2f6f6;
  font-size: 12px;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .emoji-img {
  vertical-align: top;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .comment-times {
  display: block;
  color: #696969;
  font-size: 12px;
  line-height: 22px;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .comment-times .receive-btn {
  margin-left: 15px;
  cursor: pointer;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details .comment-times .comment-delete {
  display: none;
  margin-left: 15px;
  cursor: pointer;
}
.comment-wrap .comment_list .comment-details .comment-info .comment-user-details:hover .comment-delete {
  display: inline-block;
}
.comment-wrap .comment_list .comment-details .receive_con {
  position: relative;
  padding: 10px 20px 10px 50px;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box {
  position: relative;
  float: left;
  width: 86%;
  height: 28px;
  border: 1px solid #e2e2e2;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box .receive_input {
  white-space: nowrap;
  width: 90.2%;
  height: 26px;
  text-indent: 8px;
  padding: 0 5px;
  border: none;
  line-height: 26px;
  background-color: #fff;
  overflow: hidden;
  font-size: 12px;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box .receive_input img {
  vertical-align: text-bottom;
  height: 20px;
  margin-right: 5px;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box .gray-emoji {
  background-image: url(../images/gray_face_icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box .emoji-wrap {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 100%;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_input_box .emoji-wrap:hover {
  background-image: url(../images/lighter_face_icon.png);
}
.comment-wrap .comment_list .comment-details .receive_con .receive_btn {
  float: left;
  width: 68px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  font-size: 14px;
  color: #f8f8f8;
  background-color: #fa9876;
  cursor: pointer;
}
.comment-wrap .comment_list .comment-details .receive_con .receive_btn:hover {
  background-color: #f97546;
}
.comment-wrap .comment_list .comment-details .receive-comment-txt {
  display: block;
  font-size: 12px;
  color: #333;
  line-height: 22px;
  background-color: #e9efee;
  padding: 5px 10px;
  -webkit-user-select: auto;
  user-select: auto;
}
.comment-wrap .comment_list .comment-details .receive-comment-txt .receive-toggle-wrap {
  position: relative;
  max-height: 66px;
  overflow: hidden;
}
.comment-wrap .comment_list .comment-details .receive-comment-txt .revceive-com-nick {
  font-size: 12px;
  color: #e02f17;
  line-height: 20px;
  cursor: pointer;
  word-break: break-all;
  font-weight: normal;
}
.comment-wrap .comment_list .comment-details .receive-comment-txt img {
  width: 20px;
  vertical-align: top;
}
.comment-wrap .comment-load-arrows {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 6px;
}
.comment-wrap .comment-load-arrows .comment-arrows-span {
  font-size: 12px;
  color: #666666;
  text-align: center;
  margin-top: 10px;
  vertical-align: top;
}
.comment-wrap .comment-load-arrows .comment-arrows-span-color {
  font-size: 12px;
  color: #e02f17;
  text-align: center;
  margin-top: 10px;
  vertical-align: top;
  cursor: pointer;
}
.comment-wrap .comment-load-arrows .comment-arrows-img {
  cursor: pointer;
  background-image: url("../images/more_arrows_icon.png");
  background-repeat: no-repeat;
  width: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
  height: 6px;
  margin-left: 3px;
}
.comment-wrap .comment-load-arrows .comment-arrows-img1 {
  background-position: 0 0;
}
.comment-wrap .comment-load-arrows .comment-arrows-img2 {
  background-position: 0 -6px;
}
.comment-wrap .dynamic-emoji {
  position: absolute;
  top: -200px;
  right: 54px;
  z-index: 111;
}
.comment-wrap .receive_con .dynamic-emoji{
  right:58px;
}
.comment-wrap .dynamic-emoji:before {
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -16px;
    right: 51px;
    border-width: 8px;
    border-style: solid;
    border-color: #ccc transparent transparent;
}
.comment-wrap .dynamic-emoji:after{
    content: ' ';
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -16px;
    right: 50px;
    border-width: 9px;
    border-style: solid;
    border-color: #fff transparent transparent;
}
.comment-wrap .dynamic-emoji .box-ext {
  height: 200px;
  width: 274px;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box {
  background-color: #fff;
  position: relative;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box {
  height: 190px;
  overflow-y: auto;
  width: 100%;
  margin: 4px auto;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box .td-div {
  width: 29px;
  height: 29px;
  float: left;
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box .td-div .td-span {
  display: block;
  border: 1px solid #fff;
  border-left: 1px solid #f2f2f2;
  width: 29px;
  height: 29px;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box .td-div .td-span .emoji {
  width: 24px;
  cursor: pointer;
  height: auto;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box .td-div .td-span:hover {
  border: 1px solid #fbc5b1;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table {
  width: 100%;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table tr {
  width: 100%;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table td {
  text-align: center;
  padding-top: 2px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table td .td-span {
  display: block;
  border: 1px solid #fff;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table td .td-span .emoji {
  width: 24px;
  cursor: pointer;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .item-box table td:not(:last-child) {
  border-right: 1px solid #f2f2f2;
}
.comment-wrap .dynamic-emoji .box-ext .emoji-box .emoji-tip {
  display: none;
  height: 18px;
  position: absolute;
  padding: 0 2px;
  border: 1px solid #666;
  border-radius: 3px;
  color: #333;
  line-height: 18px;
  background-color: #fff;
  font-size: 12px;
  z-index: 20;
}
.comment-wrap .dialogTip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px 3px #e9e9e9;
  border-radius: 4px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  height: 54px;
  padding: 0 25px;
  font-size: 12px;
  color: #333;
}
.comment-wrap .dialogTip .tip_icon {
  width: 16px;
  height: 16px;
  background: url("../images/icon.png") no-repeat;
  margin-right: 5px;
}
.comment-wrap .dialogTip .suc_icon {
  background-position: -118px -29px;
}
.comment-wrap .dialogTip .fail_icon {
  background-position: -90px -30px;
}

/* 手机验证 */
.phone_detail{width: 320px;position: absolute;z-index: 1000000; left: 35px;top:0;}
.phone_detail .phone_box{position: absolute;border: 1px solid #ebeded;background-color: #fff;box-shadow: 3px 2px 7px -1px #888888;border-radius: 8px;color: #333333;font-size: 14px;}
.triangle-up1 {position: absolute;bottom: -8px;left: 133px;width: 0;height: 0;border-right: 8px solid transparent;border-left: 8px solid transparent;border-top: 8px solid #ebeded;}
.triangle-up2 {position: absolute;bottom: -7px;left: 133px;width: 0;height: 0;border-right: 7px solid transparent; border-left: 7px solid transparent;border-top: 7px solid #fff;}
.phone_title{background: #f1f1f1;height: 34px;line-height: 34px;padding: 0 20px;}
.phone_text{padding: 10px 20px;line-height: 25px;}
.phone_btn{color:#ec5244;text-align: right;padding: 0 20px 10px;cursor: pointer;}