<!-- 分享 -->
<!-- erxia -->
<template>
	<div class="share">
		<div class="share-box" v-if="shareListShow">
			<div class="triangle-up1"></div>
			<div class="triangle-up2"></div>
			<div class="share-list-btn sina" @click="shareFn('sina')">微博分享</div>
			<div class="share-list-btn qq" @click="shareFn('qq')">QQ分享</div>
			<div class="share-list-btn qqzone" @click="shareFn('qqzone')">QQ空间</div>
			<div class="share-list-btn wechat" @click="shareFn('wechat')">微信分享</div>
			<div class="share-list-btn copyLink" @click="shareFn('copyLink')">复制链接</div>
		</div>
		<input type="text" class="copy-input" value="" id="copyInput">
		<div class="copy-link-popup" v-show="copyLinkPopup">复制链接成功！</div>
		<div class="code-wrap" v-show="codeShow">
            <span class="share-code-close" @click="codeShow=false"></span>
            <div class="code" id="code"></div>
        </div>
    </div>
</template>
<script type="text/javascript">
	import CreateCanvas from '../utils/createCanvas.js'
	export default {
		props: ['shareInfo'],	// shareInfo: {title: 'VV音乐', url: '', img: ''}
		data() {
			return {
				shareUrl: '',
				codePara: {
					render: "canvas",
		            background: "#ffffff",
		            foreground: "#000000",
		            width: 130, //宽度 
		            height: 130, //高度 
		            typeNumber: -1,
		            correctLevel: 0, //纠错等级  
		            text: '' //二维码url地址
				},
				shareListShow: false,
				copyLinkPopup: false,
				codeShow: false
			}
		},
		watch: {
	        '$store.state.shareListShow': function (curVal,oldVal){
	        	this.shareListShow=this.$store.state.shareListShow;
				//console.log(this.shareListShow);
	        }
		},
		mounted: function () {
			console.log(this.shareInfo);
			
		},
		methods: {
			copyLinkFn: function (url) {
			    this.shareUrl = url;
			    var copyInput = document.getElementById('copyInput');
		        copyInput.value = url;
		        copyInput.select();
		        document.execCommand('Copy');
			    // 复制链接成功 弹窗
			    this.copyLinkPopup = true;
			    setTimeout(function() {
			        this.copyLinkPopup = false;
			    }.bind(this), 2000);
			},
			// 分享
		    shareFn: function(type) {
		        switch (type) {
		            case 'qq':
		                this.shareUrl = 'http://connect.qq.com/widget/shareqq/index.html?url=' + encodeURIComponent(this.shareInfo.url) + '&title=' + encodeURIComponent(this.shareInfo.title) + '&summary=' + encodeURIComponent(this.shareInfo.url) + '&desc=&site=&pics=' + encodeURIComponent(this.shareInfo.shareImg);
		                break;
		            case 'sina':
		                this.shareUrl = 'http://service.weibo.com/share/share.php?url=' + encodeURIComponent(this.shareInfo.url) + '&title=' + encodeURIComponent(this.shareInfo.title) + '&pic=' + encodeURIComponent(this.shareInfo.img);
		                break;
		            case 'qqzone':
		                this.shareUrl = 'http://sns.qzone.qq.com/cgi-bin/qzshare/cgi_qzshare_onekey?url=' + encodeURIComponent(this.shareInfo.url) + '&title=' + encodeURIComponent(this.shareInfo.title) + '&summary=""&site&pics=' + encodeURIComponent(this.shareInfo.img);
		                break;
		            case 'wechat':
		                this.shareUrl = this.shareInfo.url;
		                break;
		            case 'copyLink':
		                this.copyLinkFn(this.shareInfo.url);
		                break;
		            default:
		                break;
		        }
		        this.shareListShow = false;
		        if (type == 'wechat') {
		        	this.codePara.text = this.shareUrl;
		        	this.codeShow = true;
		        	document.getElementById('code').innerHTML='';
		        	document.getElementById('code').appendChild(CreateCanvas(this.codePara));
		        	return;
		        }
		        if (type == 'qq' || type == 'sina' || type == 'qqzone') {
		            window.open(this.shareUrl);
		            return;
		        }
		        
		    }
		}
		
	}
</script>
<style type="text/css">
	.share{position: relative;}
	/*分享弹窗*/
	.share .share-box{
		position: absolute;
		top: 20px;
		left: 20px;
		padding-top: 12px; 
		width:115px;
		border:1px solid #ebeded;
		background-color: #fff;
		box-shadow: 3px 2px 7px -1px #888888; 
		z-index: 1; 
	}
	.share .share-box .triangle-up1{
		position: absolute;
		top: -8px;
		left: 48px;
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #ebeded
	}
	.share .share-box .triangle-up2{
		position: absolute;
	   	top: -7px;
	   	left: 49px;
	   	width: 0;
	   	height: 0;
	   	border-right: 7px solid transparent;
	   	border-left: 7px solid transparent;
	   	border-bottom: 7px solid #fff;
	}
	.share .share-box .share-list-btn{
		position: relative; 
		width:80px; 
		height: 22px;
		line-height: 22px;
		font-size: 12px;
		color: #333;
		margin:0 auto 12px;
		text-indent: 24px;
		padding-left: 4px;
	}
	.share .share-box .share-list-btn:hover{
		color: #e15740;
	}
	.share .share-box .sina{background: url(./images/share_items.png) no-repeat 0 0 ; cursor: pointer; }
	.share .share-box .qq{background: url(./images/share_items.png) no-repeat 0 -22px; cursor: pointer; }
	.share .share-box .qqzone{background: url(./images/share_items.png) no-repeat 0 -44px; cursor: pointer; }
	.share .share-box .wechat{background: url(./images/share_items.png) no-repeat 0 -66px; cursor: pointer; }
	.share .share-box .copyLink{background: url(./images/share_copyLink.png) no-repeat;cursor: pointer; }
	.copy-input{
		position: fixed;
	    left: -1000px;
	    top: -1000px;
	}
	.copy-link-popup{
		position: absolute;
	    left: 20%;
	    top: 31px;
	    width: 130px;
	    height: 30px;
	    background: #fff;
	    border-radius: 5px;
	    line-height: 30px;
	    text-align: center;
	    box-shadow: 0 0 8px #ccc;
	    font-size: 12px;
	    color: #333;
	}
	/*微信分享二维码*/
	.share .code-wrap{
		position: fixed; 
		top:50%;
		left:35%;
		-webkit-transform:translate(-50%,-50%);
		transform:translate(-50%,-50%);
		z-index:111; 
		background: url(./images/share_code_bg.png) no-repeat center;
		background-size: contain; 
		width:442px;
		height:345px;
	}
	.share .code-wrap .share-code-close{
		position: absolute;
		top: 4%;
		right: 3%; 
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.share .code-wrap .code{
		position: absolute;
		top: 31.5%;
		left: 13.5%; 
		width: 130px;
		height: 130px;
	}
</style>