<template>
    <div class="sendGiftBox" v-show="sendGiftBoxShow" @click.stop="dialogHideFn">
        <div class="top">
            <div class="title">送给 <span class="name">{{sendGiftInfo.toUserName}}</span></div>
            <div class="closeBtn" @click.stop="closeBtn"></div>
        </div>
        <div class="giftBox">
            <span class="btn leftBtn" @click.stop="leftBtn" :class="{'leftBtn_gray':curGiftGroup==1}"></span>
            <span class="btn rightBtn" @click.stop="rightBtn" :class="{'rightBtn_gray':curGiftGroup==giftGroupLen}"></span>
            <div class="giftListBox">
                <div class="giftList" v-if="arrGiftList.length>0" :style="{width:giftGroupLen*326+'px',left:-(curGiftGroup-1)*326+'px'}">
                    <template v-for="i in giftGroupLen">
                        <ul>
                            <li v-for="(item,index) in arrGiftList.slice((i-1)*10,i*10)" :key="giftID" :class="item==curGiftItem?'active':'giftitem'" @click.stop="giftItemFn(item)">
                                <div class="imageBox">
                                    <img :src="item.smallImage"/>
                                    <span v-if="item.giftXuan" class="right_tips" :style="{backgroundImage: 'url('+item.giftXuan+')'}"></span>
                                </div>
                                <div class="priceBox" >
                                    <span v-if="item.giftType==1" class="yue_num">{{diamondAndFlower.flowerCount||0}}{{item.unitName}}</span>
                                    <template v-else>
                                        <span class="yue_icon"></span>
                                        <span class="yue_num">{{item.diamond}}</span>
                                    </template>
                                </div>
                                <!--移入礼物显示礼物名和经验值  -->
                                <div class="popupBox">
                                    <p>{{item.giftName}}</p>
                                    <p class="hot">热度+{{item.hot}}</p>
                                    <p>{{item.duration}}小时有效</p>
                                </div>
                            </li> 
                        </ul >
                    </template>
                </div>
            </div>
        </div>
        <div class="giftBottom">
            <div class="left">
                <span class="money">余额： <span class="num">{{diamondAndFlower.diamondCount||0}}</span>乐币</span>
                <span class="recharge" @click.stop="rechargeBtn">充值</span>
            </div>
            <div class="right">
                <div class="inputBox">
                    <input type="tel"  v-model="giftCount" :disabled="curGiftItem&&curGiftItem.giftType==3" v-on:input="giftInputFn" />
                    <span class="btn" :class="sendListShow?'downBtn':'upBtn'" @click.stop="sendListBtn"></span>
                </div>
                <div class="sendBtn" @click.stop="sendBtn"></div>
                <ul class="sendList" v-show="sendListShow">
                    <li v-for="item in arrSendList" @click.stop="sendListItemFn(item)" :class="{active:item.num==giftCount}">{{item.num}}{{item.name}}</li>
                   
                </ul>
            </div>
        </div>
        <div class="gift-triangle-up"></div>
        <!--赠送弹窗  -->
        <div class="sendDialog" v-show="sendDialog.isShow">
            <!-- 赠送成功 -->
             <div class="sendSuccess" v-if="sendDialog.type==1">
                <div class="giftViewBox">
                    <img :src="curGiftItem&&curGiftItem.viewImage"/> 
                    <span class="giftCount">×{{giftCount}}</span>
                </div>
                <p class="sucTip1"><span class="suc_icon"></span>赠送{{curGiftItem&&curGiftItem.giftName}}成功！</p>
                <p class="sucTip2">感谢您的支持！</p>
            </div> 
            <!--赠送失败  -->
             <div class="sendFail" v-else>
                <span class="fail_icon"></span>
                <span>{{sendDialog.text}}</span>
            </div> 
        </div>

    </div>
</template>
<script>
    export default {
        props: ['sendGiftInfo'],//userID,toUserID收礼人ID,toUserName收礼人name,AVID作品ID
        data () {
            return {
                sendGiftBoxShow:false,//赠送礼物弹窗 是否显示
                sendListShow:false,//赠送礼物数量列表 是否显示
                arrGiftList:[],//礼物列表
                giftGroupLen:0,//礼物组数量
                curGiftGroup:1,//当前礼物组
                curGiftItem:null,//当前选中的礼物
                giftCount:1,//礼物数量
                diamondAndFlower:0,//总金额,鲜花数量
                flagData:true,//防止连续点击赠送
                sendDialog:{
                    isShow:false,//是否显示弹窗
                    type:1,//1成功 2失败
                    text:'',//失败提示
                },
                arrSendList:[{
                    num:1314,
                    name:'一生一世'
                },{
                    num:520,
                    name:'我爱你'
                },{
                    num:188,
                    name:'要抱抱'
                },{
                    num:66,
                    name:'一切顺利'
                },{
                    num:10,
                    name:'十全十美'
                },{
                    num:1,
                    name:'一心一意'
                }],
            }
        },
        mounted () {
            this.getGiftList();
        },
        watch:{
            // 是否显示礼物弹窗
            '$store.state.sendGiftBoxShow': function (){
                this.sendGiftBoxShow=this.$store.state.sendGiftBoxShow;
                if(this.sendGiftBoxShow){
                    this.getGoldAndFlower();
                }
            }
        },
        methods:{
            // 获取余额,鲜花数量
            getGoldAndFlower:function(){
                var pms = {
                    type: 'https://music.51vv.com/sodnew/trans/user/myGoldAndFlower.htm',
                    parameter: '?parameter={userId:'+this.sendGiftInfo.userID+'}',
                    base: location.href,
                    callback: 'getGoldAndFlowerCB'
                };
                window.getGoldAndFlowerCB  = function (data) {
                    console.log(data);
                    if (data.retCode != 1000) return;
                    this.diamondAndFlower = data.diamondAndFlower;
                }.bind(this);
                console.log(pms);
                window.QCefClient.invokeMethod('server', JSON.stringify(pms));
            },
            //获取礼物列表
            getGiftList:function(){
                var obj = {
                    type : 'https://music.51vv.com/sodnew/gift/common/list.htm',
                    parameter : '?parameter={curPage:1,viewNumber:60}',
                    base : location.href,
                    callback : 'getGiftListCB'
                };
                window.getGiftListCB = function (data) {
                    console.log(data);
                    if (data.retCode != 1000) return;
                    this.arrGiftList=data.gifts;
                    this.giftGroupLen=Math.ceil(data.gifts.length/10);
                    this.curGiftItem=data.gifts[0];
                    
                }.bind(this);
                window.QCefClient.invokeMethod('server',JSON.stringify(obj));
            },
            // 左侧按钮
            leftBtn:function(){
                if(this.curGiftGroup==1) return;
                this.curGiftGroup--;
            },
            // 右侧按钮
            rightBtn:function(){
                if(this.curGiftGroup==this.giftGroupLen) return;
                this.curGiftGroup++;
            },
            // 点击选中礼物
            giftItemFn:function(item){
                this.curGiftItem=item;
                this.giftCount=1;
            },
            // 点击选中礼物数量
            sendListItemFn:function(item){
                this.giftCount=item.num;
                this.sendListShow=false;
            },
            // 礼物输入框控制  最多输入4位数
            giftInputFn: function() {
                this.giftCount = this.giftCount.length>4 ? this.giftCount.substring(0,4) : this.giftCount;
                var reg = /^[0-9]+$/;
                if (this.giftCount&&!reg.test(this.giftCount)) {
                    this.dialogShowFn(2,'只能输入整数');
                    return false;
                }
               
                return true;
            },
            // 赠送礼物验证
            sendGiftVerifyFn:function(){
                if(!navigator.onLine){
                     this.dialogShowFn(2,'网络连接异常！');
                    return false;
                }
                if(this.giftCount<1){
                    this.dialogShowFn(2,'输入不能低于1');
                    return false;
                }
                if (!this.giftInputFn()) return false;
                // if(this.sendGiftInfo.userID==this.sendGiftInfo.toUserID){
                //     this.dialogShowFn(2,'不能给自己发的动态送礼物！');
                //     return false;
                // }
                if(this.curGiftItem.giftType==1){
                    if(this.giftCount>this.diamondAndFlower.flowerCount){
                        this.dialogShowFn(2,'鲜花不足！');
                        return false; 
                    }
                }else{
                    if(this.giftCount*this.curGiftItem.diamond>this.diamondAndFlower.diamondCount){
                        this.dialogShowFn(2,'余额不足，请充值！');
                        return false; 
                    }
                }
                return true;
            },
            sendBtn:function(){
                if(!this.flagData) return;
                this.flagData=false;
                if (!this.sendGiftVerifyFn()) return;
                this.$store.commit('sendGiftSuccessFn',false);
                if(this.curGiftItem.giftType==1){
                    // 赠送鲜花
                    this.sendFolwerFn();
                }else{
                   
                    // 赠送礼物
                    this.sendCommonGiftFn();
                }
            },
            // 赠送鲜花
            sendFolwerFn:function(){
                 var par={
                    giverUserId:this.sendGiftInfo.userID,
                    recipientUserId:this.sendGiftInfo.toUserID,
                    avid:this.sendGiftInfo.AVID,
                    amount:this.giftCount
                }
                var obj = {
                    type: 'https://music.51vv.com/sod',
                    parameter:'?action=28004&parameter='+JSON.stringify(par),
                    base : location.href,
                    callback : 'sendFolwerFnCB'
                };
                window.sendFolwerFnCB = function (data) {
                    console.log(data);
                    this.flagData=true;
                    if (data.retCode != 1000||data.result != 1){
                        this.dialogShowFn(2,'赠送失败！（错误码：'+data.retCode+'）');
                        return;
                    }
                    this.$store.commit('sendGiftSuccessFn',true);
                    // 赠送成功
                    this.dialogShowFn(1);
                    // 送鲜花
                    this.diamondAndFlower.flowerCount-=this.giftCount;
                   
                }.bind(this);
                console.log(obj);
                window.QCefClient.invokeMethod('server',JSON.stringify(obj));
            },
            // 赠送礼物
            sendCommonGiftFn:function(){
                var obj = {
                    type: 'webHttpSendGifts',
                    AVID: this.sendGiftInfo.AVID,
                    giftCount: this.giftCount,
                    giftID: this.curGiftItem.giftID,
                    toUserID: this.sendGiftInfo.toUserID,
                    userID: this.sendGiftInfo.userID,
                    callback:'sendGiftCallback',
                    base: location.href,
                };
                window.sendGiftCallback = function (data) {
                    console.log(data);
                    this.flagData=true;
                    if (data.retCode != 1000||data.result != 1){
                        this.dialogShowFn(2,'赠送失败！（错误码：'+data.retCode+'）');
                        return;
                    } 
                    this.$store.commit('sendGiftSuccessFn',true);
                    // 赠送成功
                    this.dialogShowFn(1);
                    this.diamondAndFlower.diamondCount=data.sender_diamond;
                   
                }.bind(this);
                console.log(obj);
                window.QCefClient.invokeMethod('client',JSON.stringify(obj));
            },
            // 弹窗关闭
            closeBtn:function(){
                this.$store.commit('sendGiftFn',false);
            },
            // 充值
            rechargeBtn:function(){
                window.QCefClient.invokeMethod('client', '{"type":"toPay"}');
                this.$store.commit('sendGiftFn',false);
            },
            // 赠送礼物数量列表按钮切换,大礼物不可以组刷
            sendListBtn:function(){
                if(this.curGiftItem.giftType==3) return;
                this.sendListShow=!this.sendListShow;
            },
            // 弹窗隐藏
            dialogHideFn:function(){
                this.sendListShow=false;
            },
            // 弹窗显示
            dialogShowFn:function(type,text){
                this.sendDialog.type=type;
                this.sendDialog.text=text;
                this.sendDialog.isShow=true;
                var timer=setTimeout(function() {
                    this.sendDialog.isShow=false; 
                }.bind(this), 2000);
            }
            
        }

    }
</script>
<style type="text/css">
   
    @import 'css/sendGift.css';
</style>