/*下载弹窗*/
.download_popup{ display: none; position: absolute; left: 50%; top: 50%; width: 370px; height: 260px; margin-left: -185px; margin-top: -130px; background: url(../../../vv-base/images/share/hotAnchorList/download_popup.png) no-repeat center; }
.download_popup .close_btn{ position: absolute; top: 13px; right: 13px; width: 22px; height: 22px; cursor: pointer; }
.download_popup .download_btn{ position: absolute; bottom: 30px; right: 66px; width: 130px; height: 38px; }
