/*版权区文字样式*/
#footer_hr{ margin-top:10px; border-top:1px solid #cccccc; }
#footer_link_info{ font-size:12px; padding:20px 0; text-align:center; line-height:30px; padding-bottom: 15px; }
#footer_link_info p{ text-align:center; color: #999; }
#footer_link_info a{ color: #666; }
#footer_link_info span{ padding:0px 5px; }
