/*热门主播*/
.hot_anchor_box{position: fixed; top: 90px; left: 50%;bottom: 125px; margin-left: 230px; width: 294px; height: 598px; background-color: #fff; border-radius: 2px;}
.hot_anchor_box .title{ height: 43px; line-height: 41px; background: url(../../../vv-base/images/share/hotAnchorList/like_icon.png) no-repeat 15px center; padding-left: 42px; border-bottom: 1px solid #e5e5e5; }
.hot_anchor_box .hot_anchor_list{ border-bottom: 1px solid #f4f4f4; margin: 0 14px; }
.hot_anchor_box .hot_anchor_list li{ margin: 20px 0; }
.hot_anchor_box .hot_anchor_list li img,
.hot_anchor_box .hot_anchor_list li div,
.hot_anchor_box .hot_anchor_list li .follow_btn{ float: left; }
.hot_anchor_box .hot_anchor_list li img{ width: 40px; height: 40px; border-radius: 50%; }
.hot_anchor_box .hot_anchor_list li .nickname_box{ height: 40px; margin: 0 13px 0 8px; }
.hot_anchor_box .hot_anchor_list li .nickname{ width: 130px; font-size: 14px; color: #272727; margin-top: 2px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.hot_anchor_box .hot_anchor_list li .description{ width: 155px; font-size: 12px; color: #8e8e8e; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.hot_anchor_box .hot_anchor_list li .follow_btn{ display: none; width: 50px; height: 26px; margin-top: 7px; }
.hot_anchor_box .hot_anchor_list li .follow_default_btn{ background: url(../../../vv-base/images/share/hotAnchorList/follow_default_btn.png) no-repeat center; cursor: pointer; }
.hot_anchor_box .hot_anchor_list li .follow_hover_btn{ background: url(../../../vv-base/images/share/hotAnchorList/follow_hover_btn.png) no-repeat center; cursor: pointer; }
.hot_anchor_box .hot_anchor_list li .followed_btn{ background: url(../../../vv-base/images/share/hotAnchorList/followed_btn.png) no-repeat center; }
.hot_anchor_box .hot_anchor_list li:hover .follow_btn{ display: block; }
.hot_anchor_box .qr_code{ width: 294px; height: 226px; background: url(../../../vv-base/images/share/hotAnchorList/qr_code.png) no-repeat center; }


