 .base_web_share{position: fixed;left:50%;top:490px;padding-top:42px; margin-left:630px; width: 77px; height:185px; background:url(../../../vv-base/images/share/share_icon.png) no-repeat; }
 .base_web_share .share-list-btn{
    width: 100%;
    height: 47px;
    cursor: pointer;
 }
.base_web_share .wechat{position: relative;}
.base_web_share .wechat:hover .wechat_code{display: block;}
.base_web_share .wechat_code{
    display: none;
    position: absolute;
    left:-94px;
    top:-21px;
    width:94px;
    height: 86px;
    padding:4px 0 0 5px;
    background:url(../../../vv-base/images/share/share_wechat_code_bg.png) no-repeat;
}

/*置顶*/
.top_btn {
    position: fixed;
    right: 4px;
    bottom: 4px;
    display: none;
    width: 30px;
    height: 30px;
    background-image: url("../../../vv-base/images/share/toTop.png");
    background-repeat: no-repeat;
    background-position: 0 0;
}















