<template>
    <div class="comment-wrap"  v-show="commentBoxShow" >
        <div class="comment_con clearfix">
            <div class="comment_input_box">
                <div type="text"  class="comment_input" contenteditable="true"  v-on:input="inputChange($event)" v-on:paste="inputPaste($event)" v-on:focus.stop="inputFocus($event)"></div>
                <input type="button" class="emoji-wrap emoji-wrap-btn gray-emoji"  @click.stop="showEmijiBtn($event,1)" />
            </div>
            <span class="comment_btn" @click="sendComment($event)">评论</span>
            <!--表情弹窗  -->
            <div class="dynamic-emoji" v-show="isEmojiShow">
                <div class="box-ext">
                    <div id="emoji-box" class="emoji-box open">
                        <div id="item-box" class="item-box clearfix">
                             <div class="td-div"  v-for="(value,key) in arrEmojiList"  @click="selectEmoji($event,value,key)">
                                <span class="td-span" :title="key">
                                    <img class="emoji" :src="emoji_path+value"/>
                                </span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="triangle-comment-more1"></div>
        <div class="triangle-comment-more2"></div>
        <div class="comment_list">
            <div class="comment-details" v-for="item in arrCommentList">
                <div class="comment-info clearfix">
                    <div class="comment-avatar-wrap" @click="openHomepageFn(item.userID)">
                        <img class="comment-avatar" :src="item.photo||item.photo1 || '../../../../vv-base/images/user-img.jpg'">
                        <img class="comment-auth zoom_btn" v-if="item.authType>=1" :src="getAuthImg(item.authType)"> 
                    </div>
                    <div class="comment-user-details">
                        <div class="toggle-wrap">
                            <span class="comment-nick ellipsis" :title="item.nickName||item.nickname" @click="openHomepageFn(item.userID)">{{item.nickName||item.nickname}}: </span>
                            <span class="comment-txt comment-txt-height" v-html="readEmoji(item.content)"></span>
                        </div>
                        <div class="receive-comment-txt" v-if="item.pCommentID||item.parentID">
                            <span class="revceive-com-nick ellipsis" :title="item.pCommentNickName||item.byReplyNicename" @click="openHomepageFn(item.pCommentUserID||item.byReplyUserID)">@{{item.pCommentNickName||item.byReplyNicename}}: </span>
                            <span class="comment-txt" v-html="readEmoji(item.pCommentConent||item.parentContent)"></span>
                        </div>
                        <span class="comment-times">{{item.createTimeByFormat}}
                            <span class="receive-btn" @click.stop="receiveCommentBtn(item)">回复</span>
                            <span class="comment-delete" v-if="item.userID == commentInfo.userID" @click="deleteComment(item)">删除</span> 
                        </span>
                    </div>
                </div>
                <div class="receive_con clearfix" v-show="receiveShow&&curCommentItem==item" >
                    <div class="receive_input_box">
                        <div type="text" class="receive_input" contenteditable="true"  v-on:input="inputChange($event)" v-on:paste="inputPaste($event)" v-on:focus.stop="inputFocus($event)"></div>
                        <input type="button" class="emoji-wrap comment-emoji-btn comment-emoji gray-emoji" @click.stop="showEmijiBtn($event,2,item)" />
                    </div>
                    <span class="receive_btn receive_btn_disabled" @click.stop="sendComment($event,item)">评论</span>
                     <div class="dynamic-emoji" v-show="isReceiveEmojiShow&&item==curCommentItem" >
                        <div class="box-ext">
                            <div id="emoji-box" class="emoji-box open">
                                <div id="item-box" class="item-box clearfix">
                                       <div class="td-div"  v-for="(value,key) in arrEmojiList"  @click="selectEmoji($event,value,key)">
                                        <span class="td-span" :title="key">
                                            <img class="emoji" :src="emoji_path+value"/>
                                        </span>
                                    </div> 
                                </div>

                            </div>
                        </div>
                    </div> 

                </div>
            </div>
        </div>
        <div class="comment-load-arrows" v-show="isLoadCommentAll!=null">
            <template v-if="!isLoadCommentAll" >
                <span class="comment-arrows-span comment-arrows-span-color comment-down"  @click="loadCommentBtn(1)">展开更多评论</span>
                <span class="comment-arrows-img comment-arrows-img1"  @click="loadCommentBtn(1)"></span>
            </template>
            <template v-else>
                <span class="comment-arrows-span comment-arrows-txt" >已经展开全部评论,</span>
                <span class="comment-arrows-span comment-arrows-span-color comment-down"  @click="loadCommentBtn(2)">向上收起</span>
                <span class="comment-arrows-img comment-arrows-img1 comment-arrows-img2"  @click="loadCommentBtn(2)"></span>
            </template>
        </div> 
        <!--弹窗提示  -->
        <div class="dialogTip" v-show="dialogTip.isShow">
            <span class="tip_icon" :class="dialogTip.type==1?'suc_icon':'fail_icon'"></span>
            <span>{{dialogTip.text}}</span>
        </div>
        <!--手机验证弹窗  -->
        <div class="phone_detail" v-show="phoneVerifyShow" :style="{top:top+'px',left:left+'px'}">
            <div class="phone_box">
                <div class="triangle-up1"></div>
                <div class="triangle-up2"></div>
                <div class="phone_title">温馨提示</div>
                <div class="phone_text">需验证手机号才可进行操作哦~，仅需验证一次！</div>
                <div class="phone_btn" @click="toVerify">立即验证> </div>
            </div>
        </div>
         
    </div>
</template>
<script>
    import Emoji from '../emoji.js'
    import String from '../utils/string.js'
    
    export default {
        //userID:用户ID,toUserID:被评论用户ID,commentType:0 评论作品 1 评论分享,AVID:作品ID
        props: ['commentInfo'],
        data () {
            return {
                commentBoxShow:true,//评论弹窗 是否显示
                beginIndex:0,//评论列表起始位置
                arrCommentList:[],//评论列表
                flagData: false, //数据是否加载完成
                commentValue:'',//评论内容
                curCommentItem:null,//当前评论
                receiveShow:false,//回复框是否显示
                curElementInput:'',//当前输入框元素
                isLoadCommentAll:null,//是否显示底部加载更多评论
                isEmojiShow:false,//表情弹窗是否显示
                isReceiveEmojiShow:false,//回复表情弹窗是否显示
                arrEmojiList:Emoji,//表情列表
                emoji_path: '../../../../vv-base/images/emoji2/',// 表情路径
                dialogTip:{
                    isShow:false,
                    text:'',
                    type:1,//1成功 2失败
                },
                arrAuthImgList:[],//认证图标
                phoneVerifyTimer:null,//手机验证
                phoneVerifyShow:false,//手机验证是否显示
                
            }
        },
        mounted () {
            this.getLoginInfo();
            this.getAuthImgList();
            this.getCommentList();
        },
        watch:{
            // 是否显示评论
            '$store.state.commentBoxShow': function (){
                if(this.$store.state.commentBoxShow){
                    Object.assign(this.$data, this.$options.data());
                    this.getAuthImgList();
                    this.getCommentList();
                }
                this.commentBoxShow=this.$store.state.commentBoxShow;
            },
            // 表情弹窗是否显示
            '$store.state.commentEmojiShow': function (){
                this.isEmojiShow=false;
                this.isReceiveEmojiShow=false;
                
            }
        },
        methods:{
            // 获取登陆信息
            getLoginInfo:function(){
                window.QCefClient.invokeMethod('client', '{"type": "getLoginInfo"}');
                QCefClient.Web = function(data) {
                    switch(data.type) {
                        case 'getLoginInfo': //获取登陆信息
                            console.log(data, 'getLoginInfo');
                            if(data.spaceUser){
                                localStorage.setItem('phoneLogin', data.spaceUser.phoneLogin);
                                localStorage.setItem('liveAuthState', data.spaceUser.liveAuthState);
                            }
                        break;
                        default:
                        break;
                    
                    }
                };
            },
             // 获取作品评论列表
            getCommentList: function() {
                var par={
                    beginIndex:this.beginIndex,
                    rows:5
                }
                if(this.commentInfo.commentType==1){
                    // 分享
                    par.objectID=this.commentInfo.AVID;
                    par.type=this.commentInfo.commentType;
                }else{
                    // 作品
                    par.AVID=this.commentInfo.AVID;
                    par.userID=this.commentInfo.toUserID;
                }
                var commentObj = {
                    type: 'https://music.51vv.com/sod',
                    parameter:'?action='+(this.commentInfo.commentType==1?27:27001)+'&parameter='+JSON.stringify(par),
                    base: location.href,
                    callback: 'commentListCallBack'
                };
                window.commentListCallBack = function(data) {
                    this.flagData=true;
                    console.log(data);
                    if(data.retCode!=1000) return;
                    if(this.commentInfo.commentType==1){
                        var comments=data.comments;
                    }else{
                        var comments=data.spaceComments;
                    }
                    this.arrCommentList=this.beginIndex==0?comments:this.arrCommentList.concat(comments);

                    if(this.beginIndex>0&&this.arrCommentList.length==5) {
                         this.isLoadCommentAll=null;
                         return;
                    }
                    //大于第一页5条，显示展开更多评论
                    if(comments.length==5){
                        this.isLoadCommentAll=false;
                    }
                    if(this.beginIndex>0&&comments.length<5){
                         this.isLoadCommentAll=true;
                    }
                   
                }.bind(this);
                console.log(commentObj);
                window.QCefClient.invokeMethod('server', JSON.stringify(commentObj));
            },
            // 获取认证图标列表地址
            getAuthImgList: function() {
                var Obj = {
                    type: 'https://music.51vv.com/sod',
                    parameter:'?action=68001',
                    base: location.href,
                    callback: 'getAuthImgListCB'
                };
                window.getAuthImgListCB = function(data) {
                    console.log(data);
                    if(!data) return;
                    this.arrAuthImgList=data;
                   
                }.bind(this);
                window.QCefClient.invokeMethod('server', JSON.stringify(Obj));
            },
            getAuthImg: function (authType) {
	            for (var i in this.arrAuthImgList) {
	                if (this.arrAuthImgList[i].authType == authType) {
	                    return this.arrAuthImgList[i].authImg;
	                }
	            }
	        },
            // 获取评论内容
            inputChange: function(e) {
                if(!e) return;
                this.curElementInput=e.target;
            },
            // 输入框粘贴处理
            inputPaste:function(e){
                var e = e || window.event;
                var clipboar = e.clipboardData || e.originalEvent.clipboardData;
                if (clipboar) {
                    var text = clipboar.getData('Text');
                    if(text.length > 140){
                        text = text.substr(0, 140);
                        this.dialogShowFn(2,'粘贴内容过长，已截取前140字！');
                    }
                    String.insertAtCaret(this.curElementInput, text);
                    e.preventDefault();
                }
            },
            // 点击输入框判断是否手机验证 
            inputFocus:function(event){
                if(!event) return;
                this.curElementInput=event.target;
                this.phoneVerify();
            },
            // 发送评论验证
            sendCommentVerify:function(){
                 //验证手机
                 if(localStorage.getItem('liveAuthState') != null && typeof(localStorage.getItem('liveAuthState')) != 'undefined' && localStorage.getItem('liveAuthState') != 1){
                    if(localStorage.getItem('phoneLogin') == 0 ) {
                        this.toVerify();
                        return false;
                    }
                }
                if(!navigator.onLine){
                    this.dialogShowFn(2,'网络连接异常！');
                    return false;
                }
                var sendContent=this.curElementInput.innerHTML;
                 //内容为空
                if (!sendContent) {
                    this.dialogShowFn(2,'发送内容不能为空');
                    return false;
                }
                 //控制字数 内部文字和表情个数
                if(this.curElementInput.innerText.length + this.curElementInput.childElementCount > 140){
                   this.dialogShowFn(2,"评论内容不能超过140字");
                   return false;
                }
                 
                sendContent = sendContent.replace(/<img.*?data-id="(.*?)"\/?>/ig, '$1');
                sendContent = this.convertHtml(sendContent,false);
                return sendContent;
               
            },
            //调起手机验证
            phoneVerify: function(){
                this.phoneVerifyShow=false;
                if(localStorage.getItem('liveAuthState') != null && typeof(localStorage.getItem('liveAuthState')) != 'undefined' && localStorage.getItem('liveAuthState') != 1){
                    if(localStorage.getItem('phoneLogin') == 0 ) {
                        this.phoneVerifyShow=true;
                        this.top=this.getElementDistance(this.curElementInput,'top')-145;
                        this.left=this.getElementDistance(this.curElementInput,'left')-46;
                        clearTimeout(this.phoneVerifyTimer);
                        this.phoneVerifyTimer=setTimeout(function () {
                            this.phoneVerifyShow=false;
                        }.bind(this), 5000);
                        return false;
                    }
                }
                return true;
            },
            //元素到顶部左侧的距离
            getElementDistance: function (elem,type){
                var offset;
                switch(type){
                    case 'top': 
                        offset='offsetTop';
                    break;
                    case 'left': 
                        offset='offsetLeft';
                    break;
                    default: 
                    break;
                }
                var elemDis=elem[offset];
                elem=elem.offsetParent;
                while(elem.className != 'comment-wrap'){
                    elemDis+=elem[offset];
                    elem=elem.offsetParent;
            　　}
            　　return elemDis;
            },
            // 调起验证弹窗
            toVerify:function(){
                window.QCefClient.invokeMethod('client', '{"type": "OpenAuthPhone", "from": "1"}');
            },
            // 发评论
            sendComment: function(event,item) {
                console.log(event);
                this.$store.commit('commentCountFn',0);
                this.curElementInput=event.target.previousElementSibling.firstChild;
                console.log( this.curElementInput);
                
                var sendContent=this.sendCommentVerify();
                if(!sendContent) return;
                var par={
                    userID:this.commentInfo.userID,
                    toUserID:this.commentInfo.commentType==1&&item?item.userID:this.commentInfo.toUserID,
                    objectID:this.commentInfo.AVID,
                    content: sendContent,
                    type:this.commentInfo.commentType,//0 评论作品 1 评论分享
                    parentID:item?item.commentID:0,//父评论ID
                    replyType:0,//回复消息类型 0:普通 1:送花 2:点赞 3:分享，4:礼物 
                  
                }
                var sendCommentObj = {
                    type: 'https://music.51vv.com/sod',
                    parameter:'?action=24&parameter='+JSON.stringify(par),
                    base: location.href,
                    callback: 'sendCommentCallBack'
                };
               
                window.sendCommentCallBack = function(data) {
                    console.log(data);
                    if(data.retCode!=1000){
                        this.dialogShowFn(2,'评论失败');
                        return;
                    } 
                    this.$store.commit('commentCountFn',1);
                    this.dialogShowFn(1,'评论成功');
                    this.beginIndex=0;
                    this.getCommentList();
                    this.curElementInput.innerHTML='';
                   
                }.bind(this)
                console.log(sendCommentObj);
                window.QCefClient.invokeMethod('server', JSON.stringify(sendCommentObj));
            },
            // 删除评论
            deleteComment:function(item){
                this.$store.commit('commentCountFn',0);
                
                var par={
                    commentID:item.commentID,
                    objectID:this.commentInfo.AVID,
                    type:this.commentInfo.commentType,//0 评论作品 1 评论分享
                }
                var deleteCommentObj = {
                    type: 'https://music.51vv.com/sod',
                    parameter:'?action=24001&parameter='+JSON.stringify(par),
                    base: location.href,
                    callback: 'deleteCommentCallBack'
                };
                window.deleteCommentCallBack = function(data) {
                    console.log(data);
                     if(data.retCode!=1000){
                        this.dialogShowFn(2,'删除失败');
                        return;
                    }
                    this.$store.commit('commentCountFn',-1);
                    this.dialogShowFn(1,'删除成功');
                    this.arrCommentList=this.arrCommentList.filter(function(obj){
                        return obj!=item;
                    })
                   
                }.bind(this)
                console.log(deleteCommentObj);
                
                window.QCefClient.invokeMethod('server', JSON.stringify(deleteCommentObj));
            },
           
            // 回复评论输入框显示
            receiveCommentBtn: function(item) {
                if(this.curCommentItem != item) {
                    this.receiveShow = true;
                }else {
                    this.receiveShow = !this.receiveShow;
                }
                this.curCommentItem=item;
                this.isEmojiShow=false;
                this.isReceiveEmojiShow=false;
                this.phoneVerifyShow=false;
                
            },
            // 加载更多评论 type 1加载更多 2向上收起
            loadCommentBtn:function(type){
                if (!this.flagData) return;
                this.flagData=false;
                if(type==1){
                    this.beginIndex+=5;
                    this.getCommentList();
                }else{
                    this.beginIndex=0;
                    this.getCommentList();
                }

            },
            /**
             * 表情
             */
            // 表情弹层是否显示 1评论 2回复
            showEmijiBtn:function(event,type,item){
                if(type==1){
                    this.isEmojiShow=!this.isEmojiShow;
                    this.isReceiveEmojiShow=false;
                }else{
                    this.isEmojiShow=false;
                    if(this.curCommentItem != item) {
                        this.isReceiveEmojiShow = true;
                    }else {
                        this.isReceiveEmojiShow = !this.isReceiveEmojiShow;
                    }
                }
                this.curCommentItem=item;
                this.curElementInput=event.target.previousElementSibling;
                this.curElementInput.focus();
                console.log(this.curElementInput);
            },
            // 选择表情
            selectEmoji: function(e,value,key) {
                var str = '<img src="' +this.emoji_path+value + '" data-id="' + key + '"/>';
                if(e.target.nodeName == 'IMG') {
                    String.insertAtCaret(this.curElementInput, str);
                }else {
                    this.curElementInput.focus();
                    return;
                }
                this.isEmojiShow = false;
                this.isReceiveEmojiShow = false;
                this.setFocus(this.curElementInput);
            },
          
            // 转换表情
            readEmoji: function(message) {
                //替换信息中的 < & 空格
                var message = this.convertHtml(message,true);
                //如果有at信息，特殊显示
                //提取消息中的图片信息
                message = message.replace(/\[[^\[\]]+\]/g,function(v,i,s){return this.arrEmojiList[v]?('<img class="emoji" src="'+this.emoji_path+ this.arrEmojiList[v] +'">'):v}.bind(this));//新表情的解析
                return message;
            }, 
            // 特殊字符转换
            convertHtml:function(msg,flag) {
                msg = msg+""; //如果是数字，转为字符串
                if (flag) {
                    msg = msg.replace(/&/g,'&amp;').replace(/\s/g,'&nbsp;').replace(/</g,'&lt;').replace(/>/g,'&gt;');
                } else {
                    msg = msg.replace(/&gt;/g,'>').replace(/&lt;/g,'<').replace(/&nbsp;/g,' ').replace(/&amp;/g,'&');
                }
                return msg;
            },
            //设置光标位置
            setFocus:function(el){
                // var range = document.createRange();
                // range.selectNodeContents(el);
                // range.collapse(false);
                // var sel = window.getSelection();
                // sel.removeAllRanges();
                // sel.addRange(range);
                // el.focus();

                var range = document.createRange();
/*                var pNode = el;
                if(sectionObj.anchorNode.nodeType == 1){
                    //焦点在输入框
                    range.setStart(pNode, sectionObj.anchorOffset);
                    range.setEnd(pNode, sectionObj.anchorOffset);
                }else{
                    //焦点在文本节点内部
                    range.setStart(sectionObj.anchorNode,sectionObj.anchorOffset);
                    range.setEnd(sectionObj.anchorNode,sectionObj.anchorOffset);
                }
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(range);
                el.focus();*/

            },
            // 跳转个人中心
            openHomepageFn: function (userId) {
                window.QCefClient.invokeMethod('client', '{"type":"openHomePage","userID":"' + userId + '"}');
            },
            // 弹窗提示
            dialogShowFn:function(type,text){
                this.dialogTip.type=type;
                this.dialogTip.text=text;
                this.dialogTip.isShow=true;
                var timer=setTimeout(function() {
                    this.dialogTip.isShow=false; 
                }.bind(this), 1500);
            }

            
        }
       

    }
</script>
<style type="text/css">
   
    @import 'css/comment.css';
</style>
